* Project description

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# Get the current working directory
current_directory = os.getcwd()

# Read the CSV file into a DataFrame
veg_2014 = pd.read_csv(os.path.join(current_directory, "veg_2014.csv"))
veg_2018 = pd.read_csv(os.path.join(current_directory, "veg_2018.csv"))
veg = veg_2014.append(veg_2018)

In [4]:
veg.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2511,Wheat and products,2014,2014,1000 tonnes,5370.0,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2511,Wheat and products,2014,2014,1000 tonnes,1466.0,Im,FAO data based on imputation methodology
2,FBS,Food Balances (2014-),2,Afghanistan,5072,Stock Variation,2511,Wheat and products,2014,2014,1000 tonnes,290.0,Im,FAO data based on imputation methodology
3,FBS,Food Balances (2014-),2,Afghanistan,5911,Export Quantity,2511,Wheat and products,2014,2014,1000 tonnes,0.0,Im,FAO data based on imputation methodology
4,FBS,Food Balances (2014-),2,Afghanistan,5301,Domestic supply quantity,2511,Wheat and products,2014,2014,1000 tonnes,6546.0,S,Standardized data

In [5]:
# Import dataset of animal based food
ani = pd.read_csv(os.path.join(current_directory, "ani.csv"))
ani.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2731,Bovine Meat,2014,2014,1000 tonnes,137.0,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2731,Bovine Meat,2018,2018,1000 tonnes,130.0,Im,FAO data based on imputation methodology
2,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2014,2014,1000 tonnes,16.0,Im,FAO data based on imputation methodology
3,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2018,2018,1000 tonnes,5.0,Im,FAO data based on imputation methodology
4,FBS,Food Balances (2014-),2,Afghanistan,5072,Stock Variation,2731,Bovine Meat,2014,2014,1000 tonnes,-8.0,Im,FAO data based on imputation methodology

<a id="task_2_item_1"></a>

In [6]:
# Create a new column 'primary_key' for table 'veg'. It is the combination of 'Area Code', 'Element Code', 'Item Code', and 'Year'.
veg["primary_key"] = veg["Area Code (FAO)"].astype(str) + veg["Element Code"].astype(str) + veg["Item Code"].astype(str) + veg["Year"].astype(str)
veg.set_index("primary_key", verify_integrity=True)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
primary_key,,,,,,,,,,,,,,
2551125112014,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2511,Wheat and products,2014,2014,1000 tonnes,5370.00,Im,FAO data based on imputation methodology
2561125112014,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2511,Wheat and products,2014,2014,1000 tonnes,1466.00,Im,FAO data based on imputation methodology
2507225112014,FBS,Food Balances (2014-),2,Afghanistan,5072,Stock Variation,2511,Wheat and products,2014,2014,1000 tonnes,290.00,Im,FAO data based on imputation methodology
2591125112014,FBS,Food Balances (2014-),2,Afghanistan,5911,Export Quantity,2511,Wheat and products,2014,2014,1000 tonnes,0.00,Im,FAO data based on imputation methodology
2530125112014,FBS,Food Balances (2014-),2,Afghanistan,5301,Domestic supply quantity,2511,Wheat and products,2014,2014,1000 tonnes,6546.00,S,Standardized data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181514228992018,FBS,Food Balances (2014-),181,Zimbabwe,5142,Food,2899,Miscellaneous,2018,2018,1000 tonnes,16.00,Im,FAO data based on imputation methodology
18164528992018,FBS,Food Balances (2014-),181,Zimbabwe,645,Food supply quantity (kg/capita/yr),2899,Miscellaneous,2018,2018,kg,1.08,Fc,Calculated data
18166428992018,FBS,Food Balances (2014-),181,Zimbabwe,664,Food supply (kcal/capita/day),2899,Miscellaneous,2018,2018,kcal/capita/day,1.00,Fc,Calculated data
18167428992018,FBS,Food Balances (2014-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2899,Miscellaneous,2018,2018,g/capita/day,0.04,Fc,Calculated data
18168428992018,FBS,Food Balances (2014-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2899,Miscellaneous,2018,2018,g/capita/day,0.01,Fc,Calculated data

In [7]:
# Create a new column 'primary_key' for table 'ani'. It is the combination of 'Area Code', 'Element Code', 'Item Code', and 'Year'.
ani["primary_key"] = ani["Area Code (FAO)"].astype(str) + ani["Element Code"].astype(str) + ani["Item Code"].astype(str) + ani["Year"].astype(str)
ani.set_index("primary_key", verify_integrity=True)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
primary_key,,,,,,,,,,,,,,
2551127312014,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2731,Bovine Meat,2014,2014,1000 tonnes,137.0,Im,FAO data based on imputation methodology
2551127312018,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2731,Bovine Meat,2018,2018,1000 tonnes,130.0,Im,FAO data based on imputation methodology
2561127312014,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2014,2014,1000 tonnes,16.0,Im,FAO data based on imputation methodology
2561127312018,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2018,2018,1000 tonnes,5.0,Im,FAO data based on imputation methodology
2507227312014,FBS,Food Balances (2014-),2,Afghanistan,5072,Stock Variation,2731,Bovine Meat,2014,2014,1000 tonnes,-8.0,Im,FAO data based on imputation methodology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18166427752018,FBS,Food Balances (2014-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2018,2018,kcal/capita/day,0.0,Fc,Calculated data
18167427752014,FBS,Food Balances (2014-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2014,2014,g/capita/day,0.0,Fc,Calculated data
18167427752018,FBS,Food Balances (2014-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2018,2018,g/capita/day,0.0,Fc,Calculated data
18168427752014,FBS,Food Balances (2014-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2014,2014,g/capita/day,0.0,Fc,Calculated data
18168427752018,FBS,Food Balances (2014-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2018,2018,g/capita/day,0.0,Fc,Calculated data

In [8]:
# Import the dataset downloaded from FAO, containing total population number of each country from 1950 till 2018.
population = pd.read_csv(os.path.join(current_directory,"population.csv"))
population.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1950,1950,1000 persons,7752.118,X,International reliable sources,"UNDESA, Population Division – World Population..."
1,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1951,1951,1000 persons,7840.156,X,International reliable sources,NaN
2,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1952,1952,1000 persons,7935.997,X,International reliable sources,NaN
3,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1953,1953,1000 persons,8039.694,X,International reliable sources,NaN
4,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,1954,1954,1000 persons,8151.317,X,International reliable sources,NaN

In [9]:
# Select data for the years 2014 and 2018.
population_20142018 = population[population["Year"].isin([2014, 2018])]

population_20142018.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
64,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2014,2014,1000 persons,33370.794,X,International reliable sources,NaN
68,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,37171.921,X,International reliable sources,NaN
133,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2014,2014,1000 persons,2896.305,X,International reliable sources,NaN
137,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,2882.740,X,International reliable sources,NaN
202,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2014,2014,1000 persons,38923.692,X,International reliable sources,NaN

In [10]:
# Calculate global population per year using groupby and sum.
global_population = population_20142018.groupby("Year")["Value"].sum()
global_population

Year
2014    8726228.590
2018    9090746.135
Name: Value, dtype: float64

In [12]:
# Identify potential duplicated big values by creating a separate table of countries with population over 1 billion.
pop_big = population_20142018[population_20142018["Value"] > 1000000]
pop_big

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
2802,OA,Annual population,351,China,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2014,2014,1000 persons,1430670.819,A,"Aggregate, may include official, semi-official...",NaN
2806,OA,Annual population,351,China,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,1459377.612,A,"Aggregate, may include official, semi-official...",NaN
3009,OA,Annual population,41,"China, mainland",511,Total Population - Both sexes,3010,Population - Est. & Proj.,2014,2014,1000 persons,1399453.965,X,International reliable sources,NaN
3013,OA,Annual population,41,"China, mainland",511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,1427647.786,X,International reliable sources,NaN
6505,OA,Annual population,100,India,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2014,2014,1000 persons,1295600.772,X,International reliable sources,NaN
6509,OA,Annual population,100,India,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,1352642.280,X,International reliable sources,NaN

Mainland China's population is accounted for twice for each year since *'China'* and *'China mainland*' both show up in the result set.<br> 
    Deleting *'China'* population (Area Code *351*) as it contains already mainland population plus Hongkong, Macao and Taiwan population.

In [18]:
# Removing the duplicated entry for China population
population_20142018 = population_20142018[population_20142018["Area Code (FAO)"] != 351]
population_20142018.groupby("Year")["Value"].sum()

Year
2014    7295557.771
2018    7631368.523
Name: Value, dtype: float64

In [23]:
world_population_20142018 = (
    population_20142018.groupby("Year")["Value"].sum().to_frame()
)
world_population_20142018.reset_index(inplace=True)
world_population_20142018

   Year        Value
0  2014  7295557.771
1  2018  7631368.523

In [24]:
# Multiplying result by 1000 as per FAO unit instruction 
world_population_20142018["Value"] = world_population_20142018["Value"] * 1000
world_population_20142018

   Year         Value
0  2014  7.295558e+09
1  2018  7.631369e+09

In [26]:
# Creating variables for total world population for 2014 and 2018, for future use.
world_population_total_2014 = world_population_20142018.iloc[0, 1]
world_population_total_2018 = world_population_20142018.iloc[1, 1]

print(f"World population 2014: {world_population_total_2014}")
print(f"World population 2018: {world_population_total_2018}")

World population 2014: 7295557771.000001
World population 2018: 7631368523.0

Identify relations between variables: Domestic supply quantity, Production, Import Quantity, Stock Variation and Export Quantity.

In [20]:
ani.Element.value_counts()

Domestic supply quantity                  7565
Food                                      7562
Food supply quantity (kg/capita/yr)       7522
Fat supply quantity (g/capita/day)        7520
Protein supply quantity (g/capita/day)    7520
Food supply (kcal/capita/day)             7520
Import Quantity                           7415
Production                                6122
Export Quantity                           5865
Other uses (non-food)                     4849
Stock Variation                           4137
Residuals                                 3811
Losses                                    1493
Feed                                      1306
Processing                                1245
Tourist consumption                        867
Seed                                       414
Name: Element, dtype: int64

Looking at the elemant description, in combination with definition description from FAO, I would suspect that:<br> 
    - Domestic supply quantity = Food supply quantity + Feed + Seed + Losses + Processing + Other uses + Residuals <br>
also<br>
    - Domestic supply quantity = Production + Import Quantity + Stock Variation - Export Quantity

Let's verify above theory with an example: wheat (item code 2511) ~ France.

In [19]:
wheat_in_france = veg[(veg["Item Code"] == 2511) & (veg["Area"] == "France")]
wheat_in_france.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,primary_key
46283,FBS,Food Balances (2014-),68,France,5511,Production,2511,Wheat and products,2014,2014,1000 tonnes,38950.0,Im,FAO data based on imputation methodology,68551125112014
46284,FBS,Food Balances (2014-),68,France,5611,Import Quantity,2511,Wheat and products,2014,2014,1000 tonnes,2395.0,Im,FAO data based on imputation methodology,68561125112014
46285,FBS,Food Balances (2014-),68,France,5072,Stock Variation,2511,Wheat and products,2014,2014,1000 tonnes,-129.0,Im,FAO data based on imputation methodology,68507225112014
46286,FBS,Food Balances (2014-),68,France,5911,Export Quantity,2511,Wheat and products,2014,2014,1000 tonnes,22226.0,Im,FAO data based on imputation methodology,68591125112014
46287,FBS,Food Balances (2014-),68,France,5301,Domestic supply quantity,2511,Wheat and products,2014,2014,1000 tonnes,19247.0,S,Standardized data,68530125112014

In [27]:
wheat_in_france = wheat_in_france.pivot_table(
    index=("Year"), columns="Element", values="Value", aggfunc="sum"
)
wheat_in_france

Element,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Seed,Stock Variation
Year,,,,,,,,,,,,,,,,
2014,19247.0,22226.0,4.29,7367.0,7651.0,867.0,115.78,2395.0,359.0,1142.0,1958.0,38950.0,27.83,0.0,770.0,-129.0
2018,19521.0,20446.0,4.10,7599.0,7779.0,871.0,116.22,2349.0,326.0,1149.0,1960.0,35798.0,28.01,0.0,708.0,-1819.0

In [28]:
# electing relavent columns from *wheat_in_france* to make calculation easier to read.
wheat_in_france = wheat_in_france[
    [
        "Domestic supply quantity",
        "Export Quantity",
        "Import Quantity",
        "Feed",
        "Food",
        "Losses",
        "Other uses (non-food)",
        "Processing",
        "Production",
        "Residuals",
        "Seed",
        "Stock Variation",
    ]
]
wheat_in_france

Element,Domestic supply quantity,Export Quantity,Import Quantity,Feed,Food,Losses,Other uses (non-food),Processing,Production,Residuals,Seed,Stock Variation
Year,,,,,,,,,,,,
2014,19247.0,22226.0,2395.0,7367.0,7651.0,359.0,1142.0,1958.0,38950.0,0.0,770.0,-129.0
2018,19521.0,20446.0,2349.0,7599.0,7779.0,326.0,1149.0,1960.0,35798.0,0.0,708.0,-1819.0

Verifying if the following equation is true:<br>
Domestic supply quantity = Food supply quantity + Feed + Seed + Losses + Processing + Other uses + Residuals

In [29]:
wheat_in_france["compare"] = (
    wheat_in_france["Food"]
    + wheat_in_france["Feed"]
    + wheat_in_france["Seed"]
    + wheat_in_france["Losses"]
    + wheat_in_france["Processing"]
    + wheat_in_france["Residuals"]
    + wheat_in_france["Other uses (non-food)"]
)
wheat_in_france

<ipython-input-29-18f8ffc8c259>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wheat_in_france["compare"] = (

Element,Domestic supply quantity,Export Quantity,Import Quantity,Feed,Food,Losses,Other uses (non-food),Processing,Production,Residuals,Seed,Stock Variation,compare
Year,,,,,,,,,,,,,
2014,19247.0,22226.0,2395.0,7367.0,7651.0,359.0,1142.0,1958.0,38950.0,0.0,770.0,-129.0,19247.0
2018,19521.0,20446.0,2349.0,7599.0,7779.0,326.0,1149.0,1960.0,35798.0,0.0,708.0,-1819.0,19521.0

Equation checks out.

Verifying if the second equation is true:<br>
Domestic supply quantity = Production + Import Quantity + Stock Variation - Export Quantity

In [30]:
wheat_in_france["compare"] = (
    wheat_in_france["Production"]
    + wheat_in_france["Import Quantity"]
    + wheat_in_france["Stock Variation"].abs()
    - wheat_in_france["Export Quantity"]
)
wheat_in_france

<ipython-input-30-fff264a8c685>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wheat_in_france["compare"] = (

Element,Domestic supply quantity,Export Quantity,Import Quantity,Feed,Food,Losses,Other uses (non-food),Processing,Production,Residuals,Seed,Stock Variation,compare
Year,,,,,,,,,,,,,
2014,19247.0,22226.0,2395.0,7367.0,7651.0,359.0,1142.0,1958.0,38950.0,0.0,770.0,-129.0,19248.0
2018,19521.0,20446.0,2349.0,7599.0,7779.0,326.0,1149.0,1960.0,35798.0,0.0,708.0,-1819.0,19520.0

Result values in column 'compare' are slightly different from 'Domestic supply quantity', but within acceptable range. This might be a mathematical discrepancy.

<a id='Task_3'></a>

# Data Cleaning
Add variable ‘origin’ to tables *veg* and *ani*. Appends *veg* and *ani* to one table *temp*. Renaming of *temp* s columns with Laura's guideline in mind. Transformation of *temp* to a pivot table so that the elements are now columns of the new table. Renaming columns according to Laura's guideline: lower-case, no spaces (use underscore instead), no special characters, no accented characters.
Index columns need to be normal columns. Rename table *food*. <br>
From now on, table *food* will be the main table I work with.

In [31]:
# Add variable ‘origin’
ani["origin"] = "animal"
veg["origin"] = "vegetal"

In [34]:
# Appends veg and ani to one table
df_temp = ani.append(veg)
df_temp.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,primary_key,origin
0,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2731,Bovine Meat,2014,2014,1000 tonnes,137.0,Im,FAO data based on imputation methodology,2551127312014,animal
1,FBS,Food Balances (2014-),2,Afghanistan,5511,Production,2731,Bovine Meat,2018,2018,1000 tonnes,130.0,Im,FAO data based on imputation methodology,2551127312018,animal
2,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2014,2014,1000 tonnes,16.0,Im,FAO data based on imputation methodology,2561127312014,animal
3,FBS,Food Balances (2014-),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2018,2018,1000 tonnes,5.0,Im,FAO data based on imputation methodology,2561127312018,animal
4,FBS,Food Balances (2014-),2,Afghanistan,5072,Stock Variation,2731,Bovine Meat,2014,2014,1000 tonnes,-8.0,Im,FAO data based on imputation methodology,2507227312014,animal

In [36]:
# Rename columns
temp.columns = [
    "xx",
    "xx2",
    "country_code",
    "country",
    "xx3",
    "element",
    "item_code",
    "item",
    "xx4",
    "year",
    "unit",
    "value",
    "xx5",
    "xx6",
    "primary_key",
    "origin",
]

In [37]:
# Pivot dataframe so that entries in elements becomes columns 
data = df_temp.pivot_table(
    index=["country_code", "country", "item_code", "item", "year", "origin"],
    columns=["element"],
    values=["value"],
    aggfunc=sum,
)
data.head()

                                                                                   value  \
element                                                         Domestic supply quantity
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                    639.0
                                                   2018 vegetal                    571.0
                     2513      Barley and products 2014 vegetal                    196.0
                                                   2018 vegetal                    141.0
                     2514      Maize and products  2014 vegetal                     39.0

                                                                                 \
element                                                         Export Quantity
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal             1.0
                                                   2018 vegetal             1.0
                     2513      Barley and products 2014 vegetal             0.0
                                                   2018 vegetal             NaN
                     2514      Maize and products  2014 vegetal             NaN

                                                                                                    \
element                                                         Fat supply quantity (g/capita/day)
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                               3.90
                                                   2018 vegetal                               4.40
                     2513      Barley and products 2014 vegetal                               0.04
                                                   2018 vegetal                               0.03
                     2514      Maize and products  2014 vegetal                               0.00

                                                                               \
element                                                           Feed   Food
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal  110.0  406.0
                                                   2018 vegetal  118.0  428.0
                     2513      Barley and products 2014 vegetal  152.0    3.0
                                                   2018 vegetal   94.0    2.0
                     2514      Maize and products  2014 vegetal   33.0    0.0

                                                                                               \
element                                                         Food supply (kcal/capita/day)
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                        1107.0
                                                   2018 vegetal                        1151.0
                     2513      Barley and products 2014 vegetal                           8.0
                                                   2018 vegetal                           6.0
                     2514      Maize and products  2014 vegetal                           0.0

                                                                                                     \
element                                                         Food supply quantity (kg/capita/yr)
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                              139.33
                                                   2018 vegetal                              144.90
                     2513      Barley and products 2014 vegetal                                0.97
                                                   2018 vegetal                                0.70
                     2514      Maize and products  2014 vegetal                                0.01

                                                                                 \
element                                                         Import Quantity
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal           344.0
                                                   2018 vegetal           379.0
                     2513      Barley and products 2014 vegetal             6.0
                                                   2018 vegetal            17.0
                     2514      Maize and products  2014 vegetal            52.0

                                                                        \
element                                                         Losses
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal   30.0
                                                   2018 vegetal   16.0
                     2513      Barley and products 2014 vegetal   16.0
                                                   2018 vegetal   11.0
                     2514      Maize and products  2014 vegetal    7.0

                                                                                       \
element                                                         Other uses (non-food)
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                   0.0
                                                   2018 vegetal                   0.0
                     2513      Barley and products 2014 vegetal                   5.0
                                                   2018 vegetal                  19.0
                     2514      Maize and products  2014 vegetal                   NaN

                                                                            \
element                                                         Processing
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal       16.0
                                                   2018 vegetal       16.0
                     2513      Barley and products 2014 vegetal        6.0
                                                   2018 vegetal        5.0
                     2514      Maize and products  2014 vegetal        0.0

                                                                            \
element                                                         Production
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal      338.0
                                                   2018 vegetal      187.0
                     2513      Barley and products 2014 vegetal      190.0
                                                   2018 vegetal      124.0
                     2514      Maize and products  2014 vegetal       20.0

                                                                                                        \
element                                                         Protein supply quantity (g/capita/day)
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                                  33.01
                                                   2018 vegetal                                  34.25
                     2513      Barley and products 2014 vegetal                                   0.28
                                                   2018 vegetal                                   0.20
                     2514      Maize and products  2014 vegetal                                   0.00

                                                                           \
element                                                         Residuals
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal      46.0
                                                   2018 vegetal     -27.0
                     2513      Barley and products 2014 vegetal       0.0
                                                   2018 vegetal       0.0
                     2514      Maize and products  2014 vegetal       0.0

                                                                       \
element                                                          Seed
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal  32.0
                                                   2018 vegetal  20.0
                     2513      Barley and products 2014 vegetal  15.0
                                                   2018 vegetal  10.0
                     2514      Maize and products  2014 vegetal   0.0

                                                                                 \
element                                                         Stock Variation
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal            42.0
                                                   2018 vegetal            -5.0
                     2513      Barley and products 2014 vegetal             0.0
                                                   2018 vegetal             0.0
                     2514      Maize and products  2014 vegetal            33.0


element                                                         Tourist consumption
country_code country item_code item                year origin
1            Armenia 2511      Wheat and products  2014 vegetal                 NaN
                                                   2018 vegetal                 NaN
                     2513      Barley and products 2014 vegetal                 NaN
                                                   2018 vegetal                 NaN
                     2514      Maize and products  2014 vegetal                 NaN

In [39]:
# Renaming of data’s columns 
data.columns = [
    "domestic_supply_quantity",
    "export_quantity",
    "fat_supply_quantity_gcapitaday",
    "feed",
    "food",
    "food_supply_kcalcapitaday",
    "food_supply_quantity_kgcapitayr",
    "import_quantity",
    "losses",
    "other_uses",
    "processing",
    "production",
    "protein_supply_quantity_gcapitaday",
    "residuals",
    "seed",
    "stock_variation",
    "tourist_consumption",
]

In [41]:
# Reset index
food = data.reset_index()
food.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,import_quantity,losses,other_uses,processing,production,protein_supply_quantity_gcapitaday,residuals,seed,stock_variation,tourist_consumption
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,3.90,110.0,...,344.0,30.0,0.0,16.0,338.0,33.01,46.0,32.0,42.0,NaN
1,1,Armenia,2511,Wheat and products,2018,vegetal,571.0,1.0,4.40,118.0,...,379.0,16.0,0.0,16.0,187.0,34.25,-27.0,20.0,-5.0,NaN
2,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,0.04,152.0,...,6.0,16.0,5.0,6.0,190.0,0.28,0.0,15.0,0.0,NaN
3,1,Armenia,2513,Barley and products,2018,vegetal,141.0,NaN,0.03,94.0,...,17.0,11.0,19.0,5.0,124.0,0.20,0.0,10.0,0.0,NaN
4,1,Armenia,2514,Maize and products,2014,vegetal,39.0,NaN,0.00,33.0,...,52.0,7.0,NaN,0.0,20.0,0.00,0.0,0.0,33.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32594,351,China,2807,Rice and products,2018,vegetal,206919.0,3178.0,2.81,15159.0,...,5221.0,8624.0,2703.0,924.0,214079.0,14.80,0.0,6875.0,9202.0,9.0
32595,351,China,2848,Milk - Excluding Butter,2014,animal,43203.0,58.0,3.21,271.0,...,995.0,2006.0,1.0,2415.0,42265.0,3.05,0.0,NaN,-1.0,9.0
32596,351,China,2848,Milk - Excluding Butter,2018,animal,37076.0,96.0,2.84,265.0,...,1577.0,1063.0,1.0,1982.0,35600.0,2.72,0.0,NaN,6.0,8.0
32597,351,China,2899,Miscellaneous,2014,vegetal,-1063.0,1748.0,0.00,NaN,...,690.0,NaN,0.0,NaN,NaN,0.01,-1292.0,NaN,4.0,5.0
32598,351,China,2899,Miscellaneous,2018,vegetal,-1364.0,2274.0,0.00,NaN,...,965.0,NaN,0.0,NaN,NaN,0.00,-1562.0,NaN,55.0,7.0

# New variables

In [45]:
population_20142018_pivot = population_20142018.pivot_table(
    index=(["Area Code (FAO)", "Area", "Year"]), columns="Element", values="Value"
)
population_20142018_to_be_merged = population_20142018_pivot.reset_index()
population_20142018_to_be_merged

Element,Area Code (FAO),Area,Year,Total Population - Both sexes
0,1,Armenia,2014,2912.409
1,1,Armenia,2018,2951.745
2,2,Afghanistan,2014,33370.794
3,2,Afghanistan,2018,37171.921
4,3,Albania,2014,2896.305
...,...,...,...,...
467,281,Saint-Martin (French part),2018,37.264
468,282,Saint Barthélemy,2014,9.623
469,282,Saint Barthélemy,2018,9.816
470,299,Palestine,2014,4428.639
471,299,Palestine,2018,4862.979

In [46]:
population_20142018_to_be_merged.columns = [
    "country_code",
    "country",
    "year",
    "population",
]

population_20142018_to_be_merged["population"] = (
    population_20142018_to_be_merged["population"] * 1000
)

population_20142018_to_be_merged

     country_code                     country  year  population
0               1                     Armenia  2014   2912409.0
1               1                     Armenia  2018   2951745.0
2               2                 Afghanistan  2014  33370794.0
3               2                 Afghanistan  2018  37171921.0
4               3                     Albania  2014   2896305.0
..            ...                         ...   ...         ...
467           281  Saint-Martin (French part)  2018     37264.0
468           282            Saint Barthélemy  2014      9623.0
469           282            Saint Barthélemy  2018      9816.0
470           299                   Palestine  2014   4428639.0
471           299                   Palestine  2018   4862979.0

[472 rows x 4 columns]

In [47]:
food = pd.merge(
    food,
    population_20142018_to_be_merged,
    on=["country_code", "country", "year"],
    how="inner",
)

food.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,import_quantity,losses,other_uses,processing,production,protein_supply_quantity_gcapitaday,residuals,seed,stock_variation,population
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,110.0,406.0,...,344.0,30.0,0.0,16.0,338.0,33.01,46.0,32.0,42.0,2912409.0
1,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,152.0,3.0,...,6.0,16.0,5.0,6.0,190.0,0.28,0.0,15.0,0.0,2912409.0
2,1,Armenia,2514,Maize and products,2014,vegetal,39.0,NaN,33.0,0.0,...,52.0,7.0,NaN,0.0,20.0,0.00,0.0,0.0,33.0,2912409.0
3,1,Armenia,2515,Rye and products,2014,vegetal,0.0,NaN,0.0,0.0,...,0.0,0.0,NaN,0.0,1.0,0.03,0.0,0.0,1.0,2912409.0
4,1,Armenia,2516,Oats,2014,vegetal,8.0,NaN,6.0,1.0,...,1.0,0.0,NaN,NaN,7.0,0.19,0.0,1.0,-1.0,2912409.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32400,276,Sudan,2781,"Fish, Body Oil",2018,animal,0.0,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,0.00,NaN,NaN,NaN,41801533.0
32401,276,Sudan,2782,"Fish, Liver Oil",2018,animal,0.0,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,0.00,NaN,NaN,NaN,41801533.0
32402,276,Sudan,2807,Rice and products,2018,vegetal,125.0,5.0,0.0,122.0,...,119.0,2.0,NaN,NaN,30.0,0.36,0.0,1.0,19.0,41801533.0
32403,276,Sudan,2848,Milk - Excluding Butter,2018,animal,4625.0,0.0,285.0,3871.0,...,23.0,466.0,0.0,4.0,4591.0,9.96,0.0,NaN,-11.0,41801533.0
32404,276,Sudan,2899,Miscellaneous,2018,vegetal,30.0,0.0,NaN,30.0,...,34.0,NaN,NaN,NaN,NaN,0.02,0.0,NaN,4.0,41801533.0

In [48]:
# food_supply_kcal = food_supply_kcalcapitaday * population * 365
food["food_supply_kcal"] = food["food_supply_kcalcapitaday"] * food["population"] * 365

In [49]:
# food_supply_kgprotein = protein_supply_quantity_gcapitaday / 1000 * population * 365
food["food_supply_kgprotein"] = (
    food["protein_supply_quantity_gcapitaday"] / 1000 * food["population"] * 365
)

In [51]:
# food_supply_kg =  food supply expressed in kg
food["food_supply_kg"] = food["food"] * 1000000
food[["country", "year", "food_supply_kg"]].head()

<a id='task_4_item_3'></a>

In [53]:
# ratio_kcalkg = food_supply_kcal / food_supply_kg
food["ratio_kcalkg"] = food["food_supply_kcal"] / food["food_supply_kg"]

In [54]:
# protein_percentage = food_supply_kgprotein / food_supply_kg 
food["protein_percentage"] = food["food_supply_kgprotein"] / food["food_supply_kg"]

In [55]:
food[["country", "year", "ratio_kcalkg", "protein_percentage"]].head()

   country  year  ratio_kcalkg  protein_percentage
0  Armenia  2014   2898.456696            0.086430
1  Armenia  2014   2834.744760            0.099216
2  Armenia  2014           NaN                 NaN
3  Armenia  2014           inf                 inf
4  Armenia  2014   5315.146425            0.201976

In [56]:
# dom_sup_kcal = domestic_supply_quantity * 1000000 * ratio_kcalkg <br>
# dom_sup_kgprot = domestic_supply_quantity * 1000000 * protein_percentage
food["dom_sup_kcal"] = food["domestic_supply_quantity"] * 1000000 * food["ratio_kcalkg"]
food["dom_sup_kgprot"] = (
    food["domestic_supply_quantity"] * 1000000 * food["protein_percentage"]
)

## great_import_from_undern_countries
A boolean variable - do the 200 highest imports of the 25 most
exported items come from countries with more than 10% malnourishment?

In [59]:
# Import food security indicator dataset downloaded from FAO website.
food_secu = pd.read_csv(os.path.join(current_directory, "food_security_indicators.csv"))
food_secu.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,2,Afghanistan,6121,Value,210041,Prevalence of undernourishment (percent) (3-ye...,20132015,2013-2015,%,24.2,F,FAO estimate,NaN
1,FS,Suite of Food Security Indicators,2,Afghanistan,6121,Value,210041,Prevalence of undernourishment (percent) (3-ye...,20172019,2017-2019,%,23.4,F,FAO estimate,NaN
2,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20132015,2013-2015,millions,8.1,F,FAO estimate,NaN
3,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20172019,2017-2019,millions,8.7,F,FAO estimate,NaN
4,FS,Suite of Food Security Indicators,3,Albania,6121,Value,210041,Prevalence of undernourishment (percent) (3-ye...,20132015,2013-2015,%,4.4,F,FAO estimate,NaN

In [60]:
# Select relevent columns
food_secu = food_secu[
    ["Area Code (FAO)", "Area", "Item Code", "Item", "Year", "Unit", "Value"]
]

# Replacing string values in column Year with integer values for future aggregate operations.
food_secu["Year"].value_counts()

In [62]:
food_secu["Year"] = food_secu["Year"].replace(
    ["2017-2019", "2013-2015"], ["2018", "2014"]
)

In [63]:
# Renaming columns to match column names of table food.
food_secu.columns = [
    "country_code",
    "country",
    "item_code",
    "item",
    "year",
    "unit",
    "value",
]

In [64]:
food_secu.head()

,country_code,country,item_code,item,year,unit,value
0,2,Afghanistan,210041,Prevalence of undernourishment (percent) (3-ye...,2014,%,24.2
1,2,Afghanistan,210041,Prevalence of undernourishment (percent) (3-ye...,2018,%,23.4
2,2,Afghanistan,210011,Number of people undernourished (million) (3-y...,2014,millions,8.1
3,2,Afghanistan,210011,Number of people undernourished (million) (3-y...,2018,millions,8.7
4,3,Albania,210041,Prevalence of undernourishment (percent) (3-ye...,2014,%,4.4

In [65]:
# Values in column *'item'* turns into columns
food_secu_pivot = food_secu.pivot_table(index=["country_code", "country", "year"], values=["value", "unit"], columns="item")
food_secu_pivot.columns = food_secu_pivot.columns.droplevel(0)
food_secu_pivot.head()

                                                                                   value  \
item                          Number of people undernourished (million) (3-year average)
country_code country     year
1            Armenia     2014                                               <0.1
                         2018                                               <0.1
2            Afghanistan 2014                                                8.1
                         2018                                                8.7
3            Albania     2014                                                0.1

                                                                                         \
item                          Prevalence of undernourishment (percent) (3-year average)
country_code country     year
1            Armenia     2014                                                2.9
                         2018                                                3.2
2            Afghanistan 2014                                               24.2
                         2018                                               23.4
3            Albania     2014                                                4.4

                                                                                    unit  \
item                          Number of people undernourished (million) (3-year average)
country_code country     year
1            Armenia     2014                                           millions
                         2018                                           millions
2            Afghanistan 2014                                           millions
                         2018                                           millions
3            Albania     2014                                           millions


item                          Prevalence of undernourishment (percent) (3-year average)
country_code country     year
1            Armenia     2014                                                  %
                         2018                                                  %
2            Afghanistan 2014                                                  %
                         2018                                                  %
3            Albania     2014                                                  %

In [67]:
food_secu_subset = food_secu_pivot.reset_index()
food_secu_subset.head()

In [69]:
food_secu_subset.columns = [
    "country_code",
    "country",
    "year",
    "undernourish_million",
    "undernourish_percent",
    "col1",
    "col2",
]

food_secu_subset.drop(columns=["col1", "col2"], axis=1, inplace=True)

food_secu_subset.head()

In [72]:
# Inserting undernourish data into table *food*.
food["country_code"] = food["country_code"].astype(str)
food["year"] = food["year"].astype(str)
food_secu_subset["country_code"] = food_secu_subset["country_code"].astype(str)
food_secu_subset["year"] = food_secu_subset["year"].astype(str)
food = pd.merge(
    food, food_secu_subset, on=["country", "country_code", "year"], how="inner"
)

food.head()

In [74]:
# Identify countries with undernourishement of 10%.
food["undernourish_percent"] = food["undernourish_percent"].replace("<2.5", "2.0")
food["undernourish_percent"] = food["undernourish_percent"].astype(float)

undernourish_country = food[food["undernourish_percent"] > 10]
undernourish_country.head()

In [78]:
# Identify contries with top undernourishment percentage
undernourish_country = undernourish_country.sort_values(
    by="undernourish_percent", ascending=False
)

print(f"Countries with undernourishment population over 10% of total population: \n{undernourish_country.country.unique().item()}")

array(['Central African Republic', 'Haiti', 'Yemen', 'Madagascar',
       "Democratic People's Republic of Korea", 'Liberia', 'Iraq',
       'Congo', 'Rwanda', 'Mozambique', 'Chad', 'Botswana', 'Timor-Leste',
       'Sierra Leone', 'United Republic of Tanzania', 'Papua New Guinea',
       'Kenya', 'Afghanistan', 'Namibia',
       'Venezuela (Bolivarian Republic of)', 'Togo', 'Lesotho',
       'Solomon Islands', 'Nicaragua', "Côte d'Ivoire", 'Djibouti',
       'Ethiopia', 'Guatemala', 'Malawi', 'Cabo Verde', 'Gabon', 'Angola',
       'Bolivia (Plurinational State of)', 'India', 'Honduras',
       'Bangladesh', 'Pakistan', 'Philippines', 'Eswatini',
       'Burkina Faso', 'Sao Tome and Principe', 'Gambia', 'Sudan',
       'Mongolia', 'Ecuador', 'Senegal', 'Nigeria', 'El Salvador'],
      dtype=object)

In [79]:
# Groupby table *undernourish_country* by year/item, then sort by export_quantity to identify top 25 most exported items.
top_25_export_by_undernourished_countries = (
    undernourish_country.groupby(["item_code", "item", "year"])["export_quantity"]
    .sum()
    .sort_values(ascending=False)
    .to_frame()
)
top_25_export_by_undernourished_countries.reset_index(inplace=True)
top_25_export_by_undernourished_countries.head()

                                             export_quantity
item_code item                         year
2807      Rice and products            2018          23435.0
                                       2014          22683.0
2615      Bananas                      2018          10498.0
2542      Sugar (Raw Equivalent)       2014           8387.0
                                       2018           8098.0
...                                                      ...
2563      Olives (including preserved) 2014              0.0
2541      Sugar non-centrifugal        2018              0.0
                                       2014              0.0
2537      Sugar beet                   2018              0.0
2580      Olive Oil                    2014              0.0

[194 rows x 1 columns]

In [81]:
# Identify the top 25 most exported items by undernourished countries in year 2014.
top_25_export_by_undernourished_countries_2014 = top_25_export_by_undernourished_countries[
    top_25_export_by_undernourished_countries["year"] == "2014"
]
top_25_export_by_undernourished_countries_2014 = top_25_export_by_undernourished_countries_2014.sort_values(
    by="export_quantity", ascending=False
).head(
    25
)
print(f"The top 25 most exported items by undernourished countries in 2014: \n{top_25_export_by_undernourished_countries_2014}")

    item_code                      item  year  export_quantity
1        2807         Rice and products  2014         22683.00
3        2542    Sugar (Raw Equivalent)  2014          8387.00
5        2615                   Bananas  2014          6606.00
6        2511        Wheat and products  2014          5976.00
7        2514        Maize and products  2014          4766.00
9        2605         Vegetables, Other  2014          3152.00
15       2618   Pineapples and products  2014          2085.00
17       2577                  Palm Oil  2014          1791.00
19       2625             Fruits, Other  2014          1769.00
20       2731               Bovine Meat  2014          1724.00
22       2602                    Onions  2014          1615.00
23       2763              Pelagic Fish  2014          1600.67
26       2551         Nuts and products  2014          1520.00
27       2633  Cocoa Beans and products  2014          1491.00
28       2630       Coffee and products  2014          1473.00
29       2560     Coconuts - Incl Copra  2014          1464.00
34       2552                Groundnuts  2014          1247.00
35       2561               Sesame seed  2014          1190.00
37       2659         Alcohol, Non-Food  2014          1110.00
38       2531     Potatoes and products  2014          1079.00
39       2543         Sweeteners, Other  2014          1019.00
40       2578               Coconut Oil  2014           947.00
45       2586       Oilcrops Oil, Other  2014           714.00
47       2848   Milk - Excluding Butter  2014           671.00
49       2611       Oranges, Mandarines  2014           629.00

In [82]:
# Identify the top 25 most exported items by undernourished countries in year 2018.
top_25_export_by_undernourished_countries_2018 = top_25_export_by_undernourished_countries[
    top_25_export_by_undernourished_countries["year"] == "2018"
]
top_25_export_by_undernourished_countries_2018 = top_25_export_by_undernourished_countries_2018.sort_values(
    by="export_quantity", ascending=False
).head(
    25
)
print(f"The top 25 most exported items by undernourished countries in 2018: \n{top_25_export_by_undernourished_countries_2018}")

    item_code                             item  year  export_quantity
0        2807                Rice and products  2018         23435.00
2        2615                          Bananas  2018         10498.00
4        2542           Sugar (Raw Equivalent)  2018          8098.00
8        2511               Wheat and products  2018          3438.00
10       2605                Vegetables, Other  2018          3038.00
11       2577                         Palm Oil  2018          2565.00
12       2633         Cocoa Beans and products  2018          2482.00
13       2514               Maize and products  2018          2145.00
14       2602                           Onions  2018          2091.00
16       2763                     Pelagic Fish  2018          1970.45
18       2630              Coffee and products  2018          1769.00
21       2625                    Fruits, Other  2018          1680.00
24       2551                Nuts and products  2018          1546.00
25       2561                      Sesame seed  2018          1521.00
30       2531            Potatoes and products  2018          1406.00
31       2731                      Bovine Meat  2018          1351.00
32       2765                      Crustaceans  2018          1327.70
33       2659                Alcohol, Non-Food  2018          1317.00
36       2552                       Groundnuts  2018          1122.00
41       2586              Oilcrops Oil, Other  2018           900.00
42       2635             Tea (including mate)  2018           873.00
43       2549       Pulses, Other and products  2018           806.00
44       2620  Grapes and products (excl wine)  2018           800.00
46       2543                Sweeteners, Other  2018           674.00
48       2762                    Demersal Fish  2018           639.29

In [83]:
# the 200 highest import quantities among these 25 items
food_subset2 = food[
    food["item_code"].isin(top_25_export_by_undernourished_countries["item_code"])
]
food_subset2.head()

In [85]:
top_200_import = (
    food_subset2.groupby(["country", "year"], as_index=False)
    .import_quantity.sum()
    .sort_values(by="import_quantity", ascending=False)
    .head(200)
)
top_200_import.head()

In [87]:
# For the 200 corresponding lines in table *food*, set “True” for the variable, and “False” for the other lines.
food["great_import_from_undern_countries"] = np.where(
    food.index.isin(top_200_import.index), True, False
)

food["great_import_from_undern_countries"].value_counts()

# Identify major trends

Question: considering only plant products, what proportion of the global domestic supply is used as :<br>
food<br>
feed<br>
losses<br>
other uses<br>

In [90]:
# Creating a subset of dataframe *food* that contain only plant products.
food_plant = food[food["origin"] == "vegetal"]
food_plant.head()

In [92]:
# Keeping only relevant columns
food_plant = food_plant[
    [
        "year",
        "domestic_supply_quantity",
        "food",
        "feed",
        "losses",
        "processing",
        "seed",
        "other_uses",
        "dom_sup_kcal",
        "dom_sup_kgprot",
    ]
]

In [94]:
# Replacing zeros and inf  with NaN 
food_plant = food_plant.replace(0, np.nan)
food_plant = food_plant.replace([np.inf, -np.inf], np.nan)

In [96]:
# Group dataframe by year then sum up values for all columns
food_plant_total_by_year = food_plant.groupby(["year"]).sum()
food_plant_total_by_year

,domestic_supply_quantity,food,feed,losses,processing,seed,other_uses,dom_sup_kcal,dom_sup_kgprot
year,,,,,,,,,
2014,9073907.0,3929326.0,1194407.0,536683.0,2479087.0,156350.0,784110.0,1.247936e+16,2.762048e+11
2018,9616979.0,4100900.0,1308070.0,553094.0,2603112.0,160002.0,901006.0,1.372157e+16,3.094159e+11

In [97]:
# Calculating propotions of each element by dividing each element agains domestic supply quantity
food_plant_total_by_year["food_percentage"] = (
    food_plant_total_by_year["food"]
    / food_plant_total_by_year["domestic_supply_quantity"]
).round(2)
food_plant_total_by_year["feed_percentage"] = (
    food_plant_total_by_year["feed"]
    / food_plant_total_by_year["domestic_supply_quantity"]
).round(2)
food_plant_total_by_year["losses_percentage"] = (
    food_plant_total_by_year["losses"]
    / food_plant_total_by_year["domestic_supply_quantity"]
).round(2)
food_plant_total_by_year["other_uses_percentage"] = (
    food_plant_total_by_year["other_uses"]
    / food_plant_total_by_year["domestic_supply_quantity"]
).round(2)

food_plant_total_by_year

<hr style="border:1px solid blalck"> </hr>

The number of humans on earth could be fed if all the plant-based food supply (crops), including food and feed, was used for human consumption. <br>
i.e domestic_supply_plant_kcal / average_kcalcapitayear

In [99]:
avg_dietary_energy = pd.read_csv(os.path.join(current_directory,"Average_dietary_energy_requirement.csv"))
avg_dietary_energy.head()

In [101]:
average_kcalcap = avg_dietary_energy.groupby("Year")["Value"].mean().round(2).to_frame()
average_kcalcap

In [103]:
average_kcalcap.reset_index(inplace=True)
average_kcalcap = average_kcalcap.rename(
    columns={"Value": "avg_kcalcaptday", "Year": "year"}
)
average_kcalcap["avg_kcalcaptyr"] = average_kcalcap["avg_kcalcaptday"] * 365
average_kcalcap

Creating a subset from dataframe *food_plant_total_by_year*, which contains data of total global domestic calories supply by plant food and global domestic protein supply by plant food.

In [106]:
# As its name suggest, this shows the population that can be fed by crops
population_fed_by_crops = food_plant_total_by_year[["dom_sup_kcal", "dom_sup_kgprot"]]
population_fed_by_crops.reset_index(inplace=True)

population_fed_by_crops = population_fed_by_crops.join(
    average_kcalcap["avg_kcalcaptyr"]
)

population_fed_by_crops["population_fed_kcal"] = (
    population_fed_by_crops["dom_sup_kcal"] / population_fed_by_crops["avg_kcalcaptyr"]
)
population_fed_by_crops["population_fed_kcal"] = population_fed_by_crops[
    "population_fed_kcal"
].map(int)

population_fed_by_crops

   year  dom_sup_kcal  dom_sup_kgprot
0  2014  1.247936e+16    2.762048e+11
1  2018  1.372157e+16    3.094159e+11

Now moving onto potential number of people fed by plant food, in terms of protein. An external source states that an average person needs 51g of protein per kilogram of body weight day. Multiply by average body weight 62kg (according to external source). [Click here to view the information source.](https://www.webmd.com/food-recipes/protein)<br>  
Adding this information to the dataset *population_fed_by_crops*.

In [111]:
population_fed_by_crops.insert(
    4, "avg_protkgcaptyr", [(51 / 1000) * 365, (51 / 1000) * 365]
)

population_fed_by_crops["population_fed_prot"] = (
    population_fed_by_crops["dom_sup_kgprot"]
    / population_fed_by_crops["avg_protkgcaptyr"]
)
population_fed_by_crops["population_fed_prot"] = population_fed_by_crops[
    "population_fed_prot"
].map(int)

# In proportion to world's population
population_fed_by_crops["proportion_kcal"] = (
    population_fed_by_crops["population_fed_kcal"] / world_population_20142018["Value"]
)
population_fed_by_crops["proportion_protein"] = (
    population_fed_by_crops["population_fed_prot"] / world_population_20142018["Value"]
)


population_fed_by_crops

The number of humans could be fed with the global food supply? Give the results in terms of calories and protein. 
i.e. global food supply / average food requirement per person

In [120]:
# Selecting only relevant columns 'year', 'food_supply_kg', 'ratio_kcalkg' and 'protein_percentage'.
global_food_kcal_protein_by_year = food[
    ["year", "food_supply_kg", "ratio_kcalkg", "protein_percentage"]
]
global_food_kcal_protein_by_year

       year  food_supply_kg  ratio_kcalkg  protein_percentage
0      2014    4.060000e+08   2898.456696            0.086430
1      2014    3.000000e+06   2834.744760            0.099216
2      2014    0.000000e+00           NaN                 NaN
3      2014    0.000000e+00           inf                 inf
4      2014    1.000000e+06   5315.146425            0.201976
...     ...             ...           ...                 ...
32400  2018    0.000000e+00           NaN                 NaN
32401  2018    0.000000e+00           NaN                 NaN
32402  2018    1.220000e+08   2376.177306            0.045022
32403  2018    3.871000e+09    808.008191            0.039257
32404  2018    3.000000e+07    508.585318            0.010172

[32405 rows x 4 columns]

In [121]:
# food supply in terms of calories and proteins
# food_supply_kcal = food_supply_kg * ratio_kcalkg
# food_supply_protein = food_supply_kg * protein_percentage
global_food_kcal_protein_by_year["food_supply_kcal"] = (
    global_food_kcal_protein_by_year["food_supply_kg"]
    * global_food_kcal_protein_by_year["ratio_kcalkg"]
)
global_food_kcal_protein_by_year["food_supply_protein"] = (
    global_food_kcal_protein_by_year["food_supply_kg"]
    * global_food_kcal_protein_by_year["protein_percentage"]
)

global_food_kcal_protein_by_year

<ipython-input-121-8521c6a344dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  global_food_kcal_protein_by_year["food_supply_kcal"] = (
<ipython-input-121-8521c6a344dd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  global_food_kcal_protein_by_year["food_supply_protein"] = (

In [123]:
# Dropping irelevant columns
global_food_kcal_protein_by_year = global_food_kcal_protein_by_year.drop(
    columns=["food_supply_kg", "ratio_kcalkg", "protein_percentage"]
)

# Replacing 'inf' cells with NaN
global_food_kcal_protein_by_year = global_food_kcal_protein_by_year.replace(
    [np.inf, -np.inf], np.nan
)

global_food_kcal_protein_by_year = global_food_kcal_protein_by_year.groupby(
    "year"
).sum()
global_food_kcal_protein_by_year = global_food_kcal_protein_by_year.reset_index()

global_food_kcal_protein_by_year

       year  food_supply_kcal  food_supply_protein
0      2014      1.176773e+12         3.509060e+07
1      2014      8.504234e+09         2.976482e+05
2      2014               NaN                  NaN
3      2014               NaN                  NaN
4      2014      5.315146e+09         2.019756e+05
...     ...               ...                  ...
32400  2018               NaN                  NaN
32401  2018               NaN                  NaN
32402  2018      2.898936e+11         5.492721e+06
32403  2018      3.127800e+12         1.519653e+08
32404  2018      1.525756e+10         3.051512e+05

[32405 rows x 3 columns]

In [127]:
average_kcal_protein_intake_captyr = population_fed_by_crops[
    ["year", "avg_kcalcaptyr", "avg_protkgcaptyr"]
]
average_kcal_protein_intake_captyr

   year  avg_kcalcaptyr  avg_protkgcaptyr
0  2014       860129.80            18.615
1  2018       862484.05            18.615

In [130]:
global_food_kcal_protein_by_year["population_fed_kcal"] = (
    global_food_kcal_protein_by_year["food_supply_kcal"]
    / average_kcal_protein_intake_captyr["avg_kcalcaptyr"]
)
global_food_kcal_protein_by_year["population_fed_protein"] = (
    global_food_kcal_protein_by_year["food_supply_protein"]
    / average_kcal_protein_intake_captyr["avg_protkgcaptyr"]
)
global_food_kcal_protein_by_year

,year,food_supply_kcal,food_supply_protein,population_fed_kcal,population_fed_protein
0,2014,7.509313e+15,2.113058e+11,8.730442e+09,1.135137e+10
1,2018,7.938945e+15,2.250614e+11,9.204744e+09,1.209032e+10

Expressing these two results as a percentage of the world's population.<br>
First, recalling world population variables.

In [132]:
global_food_kcal_protein_by_year["world_population"] = world_population_20142018[
    "Value"
]
global_food_kcal_protein_by_year

,year,food_supply_kcal,food_supply_protein,population_fed_kcal,population_fed_protein,world_population
0,2014,7.509313e+15,2.113058e+11,8.730442e+09,1.135137e+10,7.295558e+09
1,2018,7.938945e+15,2.250614e+11,9.204744e+09,1.209032e+10,7.631369e+09

In [133]:
global_food_kcal_protein_by_year["porpotion_against_world_population_kcal"] = (
    global_food_kcal_protein_by_year["population_fed_kcal"]
    / global_food_kcal_protein_by_year["world_population"]
)
global_food_kcal_protein_by_year["porpotion_against_world_population_protein"] = (
    global_food_kcal_protein_by_year["population_fed_protein"]
    / global_food_kcal_protein_by_year["world_population"]
)
global_food_kcal_protein_by_year

,year,food_supply_kcal,food_supply_protein,population_fed_kcal,population_fed_protein,world_population,porpotion_against_world_population_kcal,porpotion_against_world_population_protein
0,2014,7.509313e+15,2.113058e+11,8.730442e+09,1.135137e+10,7.295558e+09,1.196679,1.555930
1,2018,7.938945e+15,2.250614e+11,9.204744e+09,1.209032e+10,7.631369e+09,1.206172,1.584293

From the collected data on undernutrition, what proportion of the world's population is considered undernourished?

In [135]:
food.undernourish_million.value_counts()

<0.1    3428
0.3     1832
0.2      987
0.5      655
0.6      648
        ...
3.2       95
12.9      95
14.4      94
8.7       87
8.1       87
Name: undernourish_million, Length: 74, dtype: int64

In [136]:
# Replacing value "<0.1" with "0.09" 
food["undernourish_million"] = food["undernourish_million"].replace("<0.1", 0.09)
food["undernourish_million"] = food["undernourish_million"].astype(float)

In [137]:
food.undernourish_million.value_counts()

0.09    3428
0.3     1832
0.2      987
0.5      655
0.6      648
        ...
3.2       95
12.9      95
14.4      94
8.7       87
8.1       87
Name: undernourish_million, Length: 74, dtype: int64

In [139]:
undernourish_population = (
    food.groupby(["year", "country"])["undernourish_million"].mean().to_frame()
)
undernourish_population = undernourish_population.reset_index()
undernourish_population

     year                             country  undernourish_million
0    2014                         Afghanistan                   8.1
1    2014                             Albania                   0.1
2    2014                             Algeria                   1.1
3    2014                              Angola                   3.8
4    2014                 Antigua and Barbuda                   NaN
..    ...                                 ...                   ...
345  2018  Venezuela (Bolivarian Republic of)                   6.8
346  2018                            Viet Nam                   6.5
347  2018                               Yemen                  12.9
348  2018                              Zambia                   NaN
349  2018                            Zimbabwe                   NaN

[350 rows x 3 columns]

In [140]:
# Groupby year then aggregate
undernourish_population = (
    undernourish_population.groupby("year")["undernourish_million"].sum().to_frame()
)
undernourish_population = undernourish_population.reset_index()

undernourish_population["undernourish_million"] = (
    undernourish_population["undernourish_million"] * 1000000
)
undernourish_population = undernourish_population.rename(
    columns={"undernourish_million": "undernourish_population"}
)

undernourish_population

   year  undernourish_million
0  2014                513.00
1  2018                523.52

In [143]:
# Calculating undernourish percentage
undernourish_population["undernourish_population_percentage"] = (
    undernourish_population["undernourish_population"]
    / world_population_20142018["Value"]
)
undernourish_population

   year  undernourish_population  undernourish_population_percentage
0  2014              513000000.0                            0.070317
1  2018              523520000.0                            0.068601

Now considering the 25 items most exported by the countries with a high rate of undernutrition, which three of them:
- have the greatest other_uses to domestic_supply_quantity ratio and what are they used for?
- have the greatest feed to (food+feed) ratio and what are they used for?

In [146]:
# Selecting items from table *food* that are the 25 most exported by undernurished countries
top_25_item_exp_by_undernour_2014 = food[
    (food["year"] == "2014")
    & (
        food["item_code"].isin(
            top_25_export_by_undernourished_countries_2014["item_code"]
        )
    )
]
top_25_item_exp_by_undernour_2018 = food[
    (food["year"] == "2018")
    & (
        food["item_code"].isin(
            top_25_export_by_undernourished_countries_2018["item_code"]
        )
    )
]

top_25_item_exp_by_undernour_2014

In [148]:
# Joinning 2014 and 2018 tables together
top_25_item_exp_by_undernour = top_25_item_exp_by_undernour_2014.append(
    top_25_item_exp_by_undernour_2018
)

top_25_item_exp_by_undernour

In [151]:
# Selecting columns relevant
top_25_item_exp_by_undernour = top_25_item_exp_by_undernour[
    [
        "item_code",
        "item",
        "year",
        "domestic_supply_quantity",
        "other_uses",
        "feed",
        "food",
        "losses",
        "processing",
        "production",
        "residuals",
        "seed",
    ]
]
top_25_item_exp_by_undernour.head()

,item_code,item,year,domestic_supply_quantity,other_uses,feed,food,losses,processing,production,residuals,seed
0,2511,Wheat and products,2014,639.00,0.0,110.0,406.00,30.0,16.0,338.00,46.0,32.0
2,2514,Maize and products,2014,39.00,NaN,33.0,0.00,7.0,0.0,20.00,0.0,0.0
8,2531,Potatoes and products,2014,686.00,4.0,229.0,119.00,134.0,73.0,696.00,0.0,126.0
13,2542,Sugar (Raw Equivalent),2014,95.00,0.0,NaN,80.00,NaN,15.0,7.00,0.0,NaN
14,2543,"Sweeteners, Other",2014,67.00,0.0,0.0,67.00,NaN,NaN,69.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32381,2731,Bovine Meat,2018,382.00,NaN,NaN,343.00,40.0,NaN,389.00,0.0,NaN
32393,2762,Demersal Fish,2018,0.20,0.0,NaN,0.20,NaN,NaN,0.00,NaN,NaN
32394,2763,Pelagic Fish,2018,2.01,0.0,NaN,2.01,NaN,NaN,0.00,NaN,NaN
32396,2765,Crustaceans,2018,0.23,0.0,NaN,0.23,NaN,NaN,0.26,NaN,NaN
32402,2807,Rice and products,2018,125.00,NaN,0.0,122.00,2.0,NaN,30.00,0.0,1.0

In [152]:
# Group by year/ item
top_3_otheruse_domsupply_ratio = top_25_item_exp_by_undernour.groupby(
    ["item_code", "item", "year"]
).sum()
top_3_otheruse_domsupply_ratio

                                                domestic_supply_quantity  \
item_code item                            year
2511      Wheat and products              2014                 676050.00
                                          2018                 714206.00
2514      Maize and products              2014                 945566.00
                                          2018                1110693.00
2531      Potatoes and products           2014                 364066.00
                                          2018                 365446.00
2542      Sugar (Raw Equivalent)          2014                 167160.00
                                          2018                 172433.00
2543      Sweeteners, Other               2014                  42715.00
                                          2018                  43211.00
2549      Pulses, Other and products      2018                  44278.00
2551      Nuts and products               2014                  13971.00
                                          2018                  17282.00
2552      Groundnuts                      2014                  44515.00
                                          2018                  46674.00
2560      Coconuts - Incl Copra           2014                  59095.00
2561      Sesame seed                     2014                   4698.00
                                          2018                   5125.00
2577      Palm Oil                        2014                  54165.00
                                          2018                  68967.00
2578      Coconut Oil                     2014                   2959.00
2586      Oilcrops Oil, Other             2014                  12384.00
                                          2018                  14990.00
2602      Onions                          2014                  88329.00
                                          2018                  96976.00
2605      Vegetables, Other               2014                 882442.00
                                          2018                 932692.00
2611      Oranges, Mandarines             2014                  93419.00
2615      Bananas                         2014                 107168.00
                                          2018                 111802.00
2618      Pineapples and products         2014                  23907.00
2620      Grapes and products (excl wine) 2018                  77972.00
2625      Fruits, Other                   2014                 206529.00
                                          2018                 222972.00
2630      Coffee and products             2014                   7132.00
                                          2018                   8561.00
2633      Cocoa Beans and products        2014                   4354.00
                                          2018                   4846.00
2635      Tea (including mate)            2018                   6270.00
2659      Alcohol, Non-Food               2014                  13642.00
                                          2018                  16594.00
2731      Bovine Meat                     2014                  65950.00
                                          2018                  68631.00
2762      Demersal Fish                   2018                  23289.70
2763      Pelagic Fish                    2014                  40474.57
                                          2018                  42861.97
2765      Crustaceans                     2018                  15794.00
2807      Rice and products               2014                 711346.00
                                          2018                 729797.00
2848      Milk - Excluding Butter         2014                 764770.00

                                                other_uses       feed  \
item_code item                            year
2511      Wheat and products              2014    16768.00  119762.00
                                          2018    25690.00  114562.00
2514      Maize and products              2014   176558.00  527192.00
                                          2018   199885.00  650168.00
2531      Potatoes and products           2014     7397.00   39190.00
                                          2018     7651.00   38757.00
2542      Sugar (Raw Equivalent)          2014     9914.00    2099.00
                                          2018    11217.00     322.00
2543      Sweeteners, Other               2014     5853.00      24.00
                                          2018     6116.00      20.00
2549      Pulses, Other and products      2018      291.00    9883.00
2551      Nuts and products               2014       38.00       0.00
                                          2018       44.00       0.00
2552      Groundnuts                      2014     1621.00     249.00
                                          2018     1379.00     304.00
2560      Coconuts - Incl Copra           2014     9464.00    1694.00
2561      Sesame seed                     2014      555.00     232.00
                                          2018      458.00     135.00
2577      Palm Oil                        2014    29608.00      34.00
                                          2018    38511.00      49.00
2578      Coconut Oil                     2014      789.00       0.00
2586      Oilcrops Oil, Other             2014     7867.00       0.00
                                          2018     9762.00       0.00
2602      Onions                          2014        0.00     448.00
                                          2018        1.00     616.00
2605      Vegetables, Other               2014      393.00   50482.00
                                          2018      445.00   52117.00
2611      Oranges, Mandarines             2014       48.00      13.00
2615      Bananas                         2014       39.00     980.00
                                          2018       69.00    1123.00
2618      Pineapples and products         2014        0.00       0.00
2620      Grapes and products (excl wine) 2018     1193.00      10.00
2625      Fruits, Other                   2014       59.00      76.00
                                          2018       80.00     176.00
2630      Coffee and products             2014       35.00       0.00
                                          2018       28.00       0.00
2633      Cocoa Beans and products        2014      126.00       0.00
                                          2018      116.00       0.00
2635      Tea (including mate)            2018        3.00       0.00
2659      Alcohol, Non-Food               2014    13733.00       0.00
                                          2018    16750.00       0.00
2731      Bovine Meat                     2014       83.00       9.00
                                          2018       86.00      10.00
2762      Demersal Fish                   2018      356.79    1439.10
2763      Pelagic Fish                    2014      359.80   16626.49
                                          2018      475.60   19295.39
2765      Crustaceans                     2018      126.23     489.33
2807      Rice and products               2014    35671.00   44314.00
                                          2018    40149.00   43131.00
2848      Milk - Excluding Butter         2014     3553.00   55923.00

                                                     food   losses  \
item_code item                            year
2511      Wheat and products              2014  472429.00  27036.0
                                          2018  499362.00  26598.0
2514      Maize and products              2014  127919.00  56359.0
                                          2018  139654.00  62566.0
2531      Potatoes and products           2014  241289.00  35880.0
                                          2018  245120.00  34703.0
2542      Sugar (Raw Equivalent)          2014  143137.00     65.0
                                          2018  152111.00     56.0
2543      Sweeteners, Other               2014   35760.00     38.0
                                          2018   36182.00     38.0
2549      Pulses, Other and products      2018   29654.00   2594.0
2551      Nuts and products               2014   13577.00    774.0
                                          2018   16735.00   1037.0
2552      Groundnuts                      2014   19597.00   2179.0
                                          2018   19255.00   2077.0
2560      Coconuts - Incl Copra           2014   20037.00   4640.0
2561      Sesame seed                     2014    1576.00    316.0
                                          2018    1635.00    364.0
2577      Palm Oil                        2014   14379.00    310.0
                                          2018   17051.00    303.0
2578      Coconut Oil                     2014    1340.00      0.0
2586      Oilcrops Oil, Other             2014    5591.00      6.0
                                          2018    6099.00      5.0
2602      Onions                          2014   79429.00   7792.0
                                          2018   87579.00   8388.0
2605      Vegetables, Other               2014  755954.00  75952.0
                                          2018  803744.00  77698.0
2611      Oranges, Mandarines             2014   83563.00   8499.0
2615      Bananas                         2014   85219.00  16504.0
                                          2018   89529.00  17252.0
2618      Pineapples and products         2014   21608.00   3029.0
2620      Grapes and products (excl wine) 2018   34436.00   3305.0
2625      Fruits, Other                   2014  183983.00  19164.0
                                          2018  199521.00  20226.0
2630      Coffee and products             2014    7069.00    406.0
                                          2018    8850.00    474.0
2633      Cocoa Beans and products        2014      67.00    178.0
                                          2018     168.00    194.0
2635      Tea (including mate)            2018    6217.00    214.0
2659      Alcohol, Non-Food               2014       4.00      0.0
                                          2018       7.00      0.0
2731      Bovine Meat                     2014   65042.00    502.0
                                          2018   67745.00    418.0
2762      Demersal Fish                   2018   21234.58      0.0
2763      Pelagic Fish                    2014   23350.45      0.0
                                          2018   22980.96      0.0
2765      Crustaceans                     2018   15178.44      0.0
2807      Rice and products               2014  570398.00  32048.0
                                          2018  584108.00  34068.0
2848      Milk - Excluding Butter         2014  543021.00  17682.0

                                                processing  production  \
item_code item                            year
2511      Wheat and products              2014      9134.0   726926.00
                                          2018     10462.0   732232.00
2514      Maize and products              2014     47878.0  1036401.00
                                          2018     49856.0  1116954.00
2531      Potatoes and products           2014      8078.0   368750.00
                                          2018      9087.0   365445.00
2542      Sugar (Raw Equivalent)          2014      9829.0   179329.00
                                          2018      9280.0   182981.00
2543      Sweeteners, Other               2014      1588.0    41340.00
                                          2018      1972.0    43845.00
2549      Pulses, Other and products      2018         0.0    49221.00
2551      Nuts and products               2014         0.0    16002.00
                                          2018         0.0    20306.00
2552      Groundnuts                      2014     18320.0    45582.00
                                          2018     20532.0    47158.00
2560      Coconuts - Incl Copra           2014     23102.0    60980.00
2561      Sesame seed                     2014      1935.0     5755.00
                                          2018      2500.0     5529.00
2577      Palm Oil                        2014      9859.0    57318.00
                                          2018     13048.0    71445.00
2578      Coconut Oil                     2014       806.0     3115.00
2586      Oilcrops Oil, Other             2014        29.0    14131.00
                                          2018        28.0    18060.00
2602      Onions                          2014       659.0    88801.00
                                          2018       577.0    96977.00
2605      Vegetables, Other               2014       169.0   891582.00
                                          2018       216.0   938223.00
2611      Oranges, Mandarines             2014      1463.0   102257.00
2615      Bananas                         2014      4273.0   108919.00
                                          2018      4114.0   113827.00
2618      Pineapples and products         2014        92.0    25206.00
2620      Grapes and products (excl wine) 2018     39703.0    79140.00
2625      Fruits, Other                   2014      3541.0   210691.00
                                          2018      3967.0   226361.00
2630      Coffee and products             2014        82.0     8714.00
                                          2018       108.0    10305.00
2633      Cocoa Beans and products        2014      4094.0     4762.00
                                          2018      4451.0     5308.00
2635      Tea (including mate)            2018         0.0     8520.00
2659      Alcohol, Non-Food               2014         0.0    12660.00
                                          2018         0.0    14047.00
2731      Bovine Meat                     2014        14.0    68051.00
                                          2018        24.0    71349.00
2762      Demersal Fish                   2018         0.0    23258.41
2763      Pelagic Fish                    2014         0.0    34056.39
                                          2018         0.0    35242.07
2765      Crustaceans                     2018         0.0    15186.19
2807      Rice and products               2014     11394.0   740603.00
                                          2018     11211.0   777279.00
2848      Milk - Excluding Butter         2014    142954.0   784561.00

                                                residuals      seed
item_code item                            year
2511      Wheat and products              2014    -4644.0  35385.00
                                          2018      713.0  36686.00
2514      Maize and products              2014     1877.0   7739.00
                                          2018      583.0   7969.00
2531      Potatoes and products           2014     -106.0  32269.00
                                          2018     -101.0  30162.00
2542      Sugar (Raw Equivalent)          2014      918.0      0.00
                                          2018     -954.0      0.00
2543      Sweeteners, Other               2014     -786.0      0.00
                                          2018    -1414.0      0.00
2549      Pulses, Other and products      2018     -434.0   2257.00
2551      Nuts and products               2014     -429.0      0.00
                                          2018     -535.0      0.00
2552      Groundnuts                      2014      496.0   2025.00
                                          2018     1074.0   2035.00
2560      Coconuts - Incl Copra           2014     -247.0    148.00
2561      Sesame seed                     2014      -20.0    100.00
                                          2018      -82.0    115.00
2577      Palm Oil                        2014      -52.0      0.00
                                          2018      -27.0      0.00
2578      Coconut Oil                     2014        0.0      0.00
2586      Oilcrops Oil, Other             2014    -1152.0      0.00
                                          2018     -945.0      0.00
2602      Onions                          2014      -32.0     13.00
                                          2018     -220.0      8.00
2605      Vegetables, Other               2014     -789.0    103.00
                                          2018    -1842.0    114.00
2611      Oranges, Mandarines             2014     -221.0      0.00
2615      Bananas                         2014      119.0      0.00
                                          2018     -325.0      0.00
2618      Pineapples and products         2014     -845.0      0.00
2620      Grapes and products (excl wine) 2018     -682.0      0.00
2625      Fruits, Other                   2014     -362.0      0.00
                                          2018    -1076.0      0.00
2630      Coffee and products             2014     -472.0      0.00
                                          2018     -907.0      0.00
2633      Cocoa Beans and products        2014     -118.0      0.00
                                          2018      -93.0      0.00
2635      Tea (including mate)            2018     -187.0      0.00
2659      Alcohol, Non-Food               2014      -95.0      0.00
                                          2018     -163.0      0.00
2731      Bovine Meat                     2014       69.0      0.00
                                          2018      117.0      0.00
2762      Demersal Fish                   2018        0.0    259.22
2763      Pelagic Fish                    2014        0.0    137.96
                                          2018        0.0    110.07
2765      Crustaceans                     2018        0.0      0.02
2807      Rice and products               2014     -770.0  18069.00
                                          2018     -990.0  17997.00
2848      Milk - Excluding Butter         2014     1552.0      0.00

In [153]:
# To get other_uses to domestic_supply_quantity ratio
top_3_otheruse_domsupply_ratio["otheruse_domsupply_ratio"] = (
    top_3_otheruse_domsupply_ratio["other_uses"]
    / top_3_otheruse_domsupply_ratio["domestic_supply_quantity"]
)
top_3_otheruse_domsupply_ratio

                                                domestic_supply_quantity  \
item_code item                            year
2511      Wheat and products              2014                 676050.00
                                          2018                 714206.00
2514      Maize and products              2014                 945566.00
                                          2018                1110693.00
2531      Potatoes and products           2014                 364066.00
                                          2018                 365446.00
2542      Sugar (Raw Equivalent)          2014                 167160.00
                                          2018                 172433.00
2543      Sweeteners, Other               2014                  42715.00
                                          2018                  43211.00
2549      Pulses, Other and products      2018                  44278.00
2551      Nuts and products               2014                  13971.00
                                          2018                  17282.00
2552      Groundnuts                      2014                  44515.00
                                          2018                  46674.00
2560      Coconuts - Incl Copra           2014                  59095.00
2561      Sesame seed                     2014                   4698.00
                                          2018                   5125.00
2577      Palm Oil                        2014                  54165.00
                                          2018                  68967.00
2578      Coconut Oil                     2014                   2959.00
2586      Oilcrops Oil, Other             2014                  12384.00
                                          2018                  14990.00
2602      Onions                          2014                  88329.00
                                          2018                  96976.00
2605      Vegetables, Other               2014                 882442.00
                                          2018                 932692.00
2611      Oranges, Mandarines             2014                  93419.00
2615      Bananas                         2014                 107168.00
                                          2018                 111802.00
2618      Pineapples and products         2014                  23907.00
2620      Grapes and products (excl wine) 2018                  77972.00
2625      Fruits, Other                   2014                 206529.00
                                          2018                 222972.00
2630      Coffee and products             2014                   7132.00
                                          2018                   8561.00
2633      Cocoa Beans and products        2014                   4354.00
                                          2018                   4846.00
2635      Tea (including mate)            2018                   6270.00
2659      Alcohol, Non-Food               2014                  13642.00
                                          2018                  16594.00
2731      Bovine Meat                     2014                  65950.00
                                          2018                  68631.00
2762      Demersal Fish                   2018                  23289.70
2763      Pelagic Fish                    2014                  40474.57
                                          2018                  42861.97
2765      Crustaceans                     2018                  15794.00
2807      Rice and products               2014                 711346.00
                                          2018                 729797.00
2848      Milk - Excluding Butter         2014                 764770.00

                                                other_uses       feed  \
item_code item                            year
2511      Wheat and products              2014    16768.00  119762.00
                                          2018    25690.00  114562.00
2514      Maize and products              2014   176558.00  527192.00
                                          2018   199885.00  650168.00
2531      Potatoes and products           2014     7397.00   39190.00
                                          2018     7651.00   38757.00
2542      Sugar (Raw Equivalent)          2014     9914.00    2099.00
                                          2018    11217.00     322.00
2543      Sweeteners, Other               2014     5853.00      24.00
                                          2018     6116.00      20.00
2549      Pulses, Other and products      2018      291.00    9883.00
2551      Nuts and products               2014       38.00       0.00
                                          2018       44.00       0.00
2552      Groundnuts                      2014     1621.00     249.00
                                          2018     1379.00     304.00
2560      Coconuts - Incl Copra           2014     9464.00    1694.00
2561      Sesame seed                     2014      555.00     232.00
                                          2018      458.00     135.00
2577      Palm Oil                        2014    29608.00      34.00
                                          2018    38511.00      49.00
2578      Coconut Oil                     2014      789.00       0.00
2586      Oilcrops Oil, Other             2014     7867.00       0.00
                                          2018     9762.00       0.00
2602      Onions                          2014        0.00     448.00
                                          2018        1.00     616.00
2605      Vegetables, Other               2014      393.00   50482.00
                                          2018      445.00   52117.00
2611      Oranges, Mandarines             2014       48.00      13.00
2615      Bananas                         2014       39.00     980.00
                                          2018       69.00    1123.00
2618      Pineapples and products         2014        0.00       0.00
2620      Grapes and products (excl wine) 2018     1193.00      10.00
2625      Fruits, Other                   2014       59.00      76.00
                                          2018       80.00     176.00
2630      Coffee and products             2014       35.00       0.00
                                          2018       28.00       0.00
2633      Cocoa Beans and products        2014      126.00       0.00
                                          2018      116.00       0.00
2635      Tea (including mate)            2018        3.00       0.00
2659      Alcohol, Non-Food               2014    13733.00       0.00
                                          2018    16750.00       0.00
2731      Bovine Meat                     2014       83.00       9.00
                                          2018       86.00      10.00
2762      Demersal Fish                   2018      356.79    1439.10
2763      Pelagic Fish                    2014      359.80   16626.49
                                          2018      475.60   19295.39
2765      Crustaceans                     2018      126.23     489.33
2807      Rice and products               2014    35671.00   44314.00
                                          2018    40149.00   43131.00
2848      Milk - Excluding Butter         2014     3553.00   55923.00

                                                     food   losses  \
item_code item                            year
2511      Wheat and products              2014  472429.00  27036.0
                                          2018  499362.00  26598.0
2514      Maize and products              2014  127919.00  56359.0
                                          2018  139654.00  62566.0
2531      Potatoes and products           2014  241289.00  35880.0
                                          2018  245120.00  34703.0
2542      Sugar (Raw Equivalent)          2014  143137.00     65.0
                                          2018  152111.00     56.0
2543      Sweeteners, Other               2014   35760.00     38.0
                                          2018   36182.00     38.0
2549      Pulses, Other and products      2018   29654.00   2594.0
2551      Nuts and products               2014   13577.00    774.0
                                          2018   16735.00   1037.0
2552      Groundnuts                      2014   19597.00   2179.0
                                          2018   19255.00   2077.0
2560      Coconuts - Incl Copra           2014   20037.00   4640.0
2561      Sesame seed                     2014    1576.00    316.0
                                          2018    1635.00    364.0
2577      Palm Oil                        2014   14379.00    310.0
                                          2018   17051.00    303.0
2578      Coconut Oil                     2014    1340.00      0.0
2586      Oilcrops Oil, Other             2014    5591.00      6.0
                                          2018    6099.00      5.0
2602      Onions                          2014   79429.00   7792.0
                                          2018   87579.00   8388.0
2605      Vegetables, Other               2014  755954.00  75952.0
                                          2018  803744.00  77698.0
2611      Oranges, Mandarines             2014   83563.00   8499.0
2615      Bananas                         2014   85219.00  16504.0
                                          2018   89529.00  17252.0
2618      Pineapples and products         2014   21608.00   3029.0
2620      Grapes and products (excl wine) 2018   34436.00   3305.0
2625      Fruits, Other                   2014  183983.00  19164.0
                                          2018  199521.00  20226.0
2630      Coffee and products             2014    7069.00    406.0
                                          2018    8850.00    474.0
2633      Cocoa Beans and products        2014      67.00    178.0
                                          2018     168.00    194.0
2635      Tea (including mate)            2018    6217.00    214.0
2659      Alcohol, Non-Food               2014       4.00      0.0
                                          2018       7.00      0.0
2731      Bovine Meat                     2014   65042.00    502.0
                                          2018   67745.00    418.0
2762      Demersal Fish                   2018   21234.58      0.0
2763      Pelagic Fish                    2014   23350.45      0.0
                                          2018   22980.96      0.0
2765      Crustaceans                     2018   15178.44      0.0
2807      Rice and products               2014  570398.00  32048.0
                                          2018  584108.00  34068.0
2848      Milk - Excluding Butter         2014  543021.00  17682.0

                                                processing  production  \
item_code item                            year
2511      Wheat and products              2014      9134.0   726926.00
                                          2018     10462.0   732232.00
2514      Maize and products              2014     47878.0  1036401.00
                                          2018     49856.0  1116954.00
2531      Potatoes and products           2014      8078.0   368750.00
                                          2018      9087.0   365445.00
2542      Sugar (Raw Equivalent)          2014      9829.0   179329.00
                                          2018      9280.0   182981.00
2543      Sweeteners, Other               2014      1588.0    41340.00
                                          2018      1972.0    43845.00
2549      Pulses, Other and products      2018         0.0    49221.00
2551      Nuts and products               2014         0.0    16002.00
                                          2018         0.0    20306.00
2552      Groundnuts                      2014     18320.0    45582.00
                                          2018     20532.0    47158.00
2560      Coconuts - Incl Copra           2014     23102.0    60980.00
2561      Sesame seed                     2014      1935.0     5755.00
                                          2018      2500.0     5529.00
2577      Palm Oil                        2014      9859.0    57318.00
                                          2018     13048.0    71445.00
2578      Coconut Oil                     2014       806.0     3115.00
2586      Oilcrops Oil, Other             2014        29.0    14131.00
                                          2018        28.0    18060.00
2602      Onions                          2014       659.0    88801.00
                                          2018       577.0    96977.00
2605      Vegetables, Other               2014       169.0   891582.00
                                          2018       216.0   938223.00
2611      Oranges, Mandarines             2014      1463.0   102257.00
2615      Bananas                         2014      4273.0   108919.00
                                          2018      4114.0   113827.00
2618      Pineapples and products         2014        92.0    25206.00
2620      Grapes and products (excl wine) 2018     39703.0    79140.00
2625      Fruits, Other                   2014      3541.0   210691.00
                                          2018      3967.0   226361.00
2630      Coffee and products             2014        82.0     8714.00
                                          2018       108.0    10305.00
2633      Cocoa Beans and products        2014      4094.0     4762.00
                                          2018      4451.0     5308.00
2635      Tea (including mate)            2018         0.0     8520.00
2659      Alcohol, Non-Food               2014         0.0    12660.00
                                          2018         0.0    14047.00
2731      Bovine Meat                     2014        14.0    68051.00
                                          2018        24.0    71349.00
2762      Demersal Fish                   2018         0.0    23258.41
2763      Pelagic Fish                    2014         0.0    34056.39
                                          2018         0.0    35242.07
2765      Crustaceans                     2018         0.0    15186.19
2807      Rice and products               2014     11394.0   740603.00
                                          2018     11211.0   777279.00
2848      Milk - Excluding Butter         2014    142954.0   784561.00

                                                residuals      seed  \
item_code item                            year
2511      Wheat and products              2014    -4644.0  35385.00
                                          2018      713.0  36686.00
2514      Maize and products              2014     1877.0   7739.00
                                          2018      583.0   7969.00
2531      Potatoes and products           2014     -106.0  32269.00
                                          2018     -101.0  30162.00
2542      Sugar (Raw Equivalent)          2014      918.0      0.00
                                          2018     -954.0      0.00
2543      Sweeteners, Other               2014     -786.0      0.00
                                          2018    -1414.0      0.00
2549      Pulses, Other and products      2018     -434.0   2257.00
2551      Nuts and products               2014     -429.0      0.00
                                          2018     -535.0      0.00
2552      Groundnuts                      2014      496.0   2025.00
                                          2018     1074.0   2035.00
2560      Coconuts - Incl Copra           2014     -247.0    148.00
2561      Sesame seed                     2014      -20.0    100.00
                                          2018      -82.0    115.00
2577      Palm Oil                        2014      -52.0      0.00
                                          2018      -27.0      0.00
2578      Coconut Oil                     2014        0.0      0.00
2586      Oilcrops Oil, Other             2014    -1152.0      0.00
                                          2018     -945.0      0.00
2602      Onions                          2014      -32.0     13.00
                                          2018     -220.0      8.00
2605      Vegetables, Other               2014     -789.0    103.00
                                          2018    -1842.0    114.00
2611      Oranges, Mandarines             2014     -221.0      0.00
2615      Bananas                         2014      119.0      0.00
                                          2018     -325.0      0.00
2618      Pineapples and products         2014     -845.0      0.00
2620      Grapes and products (excl wine) 2018     -682.0      0.00
2625      Fruits, Other                   2014     -362.0      0.00
                                          2018    -1076.0      0.00
2630      Coffee and products             2014     -472.0      0.00
                                          2018     -907.0      0.00
2633      Cocoa Beans and products        2014     -118.0      0.00
                                          2018      -93.0      0.00
2635      Tea (including mate)            2018     -187.0      0.00
2659      Alcohol, Non-Food               2014      -95.0      0.00
                                          2018     -163.0      0.00
2731      Bovine Meat                     2014       69.0      0.00
                                          2018      117.0      0.00
2762      Demersal Fish                   2018        0.0    259.22
2763      Pelagic Fish                    2014        0.0    137.96
                                          2018        0.0    110.07
2765      Crustaceans                     2018        0.0      0.02
2807      Rice and products               2014     -770.0  18069.00
                                          2018     -990.0  17997.00
2848      Milk - Excluding Butter         2014     1552.0      0.00

                                                otheruse_domsupply_ratio
item_code item                            year
2511      Wheat and products              2014                  0.024803
                                          2018                  0.035970
2514      Maize and products              2014                  0.186722
                                          2018                  0.179964
2531      Potatoes and products           2014                  0.020318
                                          2018                  0.020936
2542      Sugar (Raw Equivalent)          2014                  0.059308
                                          2018                  0.065051
2543      Sweeteners, Other               2014                  0.137024
                                          2018                  0.141538
2549      Pulses, Other and products      2018                  0.006572
2551      Nuts and products               2014                  0.002720
                                          2018                  0.002546
2552      Groundnuts                      2014                  0.036415
                                          2018                  0.029545
2560      Coconuts - Incl Copra           2014                  0.160149
2561      Sesame seed                     2014                  0.118135
                                          2018                  0.089366
2577      Palm Oil                        2014                  0.546626
                                          2018                  0.558397
2578      Coconut Oil                     2014                  0.266644
2586      Oilcrops Oil, Other             2014                  0.635255
                                          2018                  0.651234
2602      Onions                          2014                  0.000000
                                          2018                  0.000010

In [154]:
# Sort table by other_uses to domestic_supply_quantity ratio, per year, in descending order
top_3_otheruse_domsupply_ratio.reset_index(inplace=True)
top_3_otheruse_domsupply_ratio.sort_values(
    by="otheruse_domsupply_ratio", ascending=False
).head()

,item_code,item,year,domestic_supply_quantity,other_uses,feed,food,losses,processing,production,residuals,seed,otheruse_domsupply_ratio
40,2659,"Alcohol, Non-Food",2018,16594.0,16750.0,0.0,7.0,0.0,0.0,14047.0,-163.0,0.0,1.009401
39,2659,"Alcohol, Non-Food",2014,13642.0,13733.0,0.0,4.0,0.0,0.0,12660.0,-95.0,0.0,1.006671
22,2586,"Oilcrops Oil, Other",2018,14990.0,9762.0,0.0,6099.0,5.0,28.0,18060.0,-945.0,0.0,0.651234
21,2586,"Oilcrops Oil, Other",2014,12384.0,7867.0,0.0,5591.0,6.0,29.0,14131.0,-1152.0,0.0,0.635255
19,2577,Palm Oil,2018,68967.0,38511.0,49.0,17051.0,303.0,13048.0,71445.0,-27.0,0.0,0.558397
18,2577,Palm Oil,2014,54165.0,29608.0,34.0,14379.0,310.0,9859.0,57318.0,-52.0,0.0,0.546626

To answer the question:'what are they used for?', anwsers are:<br>
Alcohol: unknown<br>
Oilcrops: unknown<br>
Palm Oil: processing/feed

The biggest feed to (food+feed) ratio and what are they used for?

In [156]:
# Add variable feed / (food+feed) for each item/ year pairing
feed_to_foodfeed_ratio = top_25_item_exp_by_undernour.groupby(
    ["item_code", "item", "year"]
).sum()
feed_to_foodfeed_ratio

                                                domestic_supply_quantity  \
item_code item                            year
2511      Wheat and products              2014                 676050.00
                                          2018                 714206.00
2514      Maize and products              2014                 945566.00
                                          2018                1110693.00
2531      Potatoes and products           2014                 364066.00
                                          2018                 365446.00
2542      Sugar (Raw Equivalent)          2014                 167160.00
                                          2018                 172433.00
2543      Sweeteners, Other               2014                  42715.00
                                          2018                  43211.00
2549      Pulses, Other and products      2018                  44278.00
2551      Nuts and products               2014                  13971.00
                                          2018                  17282.00
2552      Groundnuts                      2014                  44515.00
                                          2018                  46674.00
2560      Coconuts - Incl Copra           2014                  59095.00
2561      Sesame seed                     2014                   4698.00
                                          2018                   5125.00
2577      Palm Oil                        2014                  54165.00
                                          2018                  68967.00
2578      Coconut Oil                     2014                   2959.00
2586      Oilcrops Oil, Other             2014                  12384.00
                                          2018                  14990.00
2602      Onions                          2014                  88329.00
                                          2018                  96976.00
2605      Vegetables, Other               2014                 882442.00
                                          2018                 932692.00
2611      Oranges, Mandarines             2014                  93419.00
2615      Bananas                         2014                 107168.00
                                          2018                 111802.00
2618      Pineapples and products         2014                  23907.00
2620      Grapes and products (excl wine) 2018                  77972.00
2625      Fruits, Other                   2014                 206529.00
                                          2018                 222972.00
2630      Coffee and products             2014                   7132.00
                                          2018                   8561.00
2633      Cocoa Beans and products        2014                   4354.00
                                          2018                   4846.00
2635      Tea (including mate)            2018                   6270.00
2659      Alcohol, Non-Food               2014                  13642.00
                                          2018                  16594.00
2731      Bovine Meat                     2014                  65950.00
                                          2018                  68631.00
2762      Demersal Fish                   2018                  23289.70
2763      Pelagic Fish                    2014                  40474.57
                                          2018                  42861.97
2765      Crustaceans                     2018                  15794.00
2807      Rice and products               2014                 711346.00
                                          2018                 729797.00
2848      Milk - Excluding Butter         2014                 764770.00

                                                other_uses       feed  \
item_code item                            year
2511      Wheat and products              2014    16768.00  119762.00
                                          2018    25690.00  114562.00
2514      Maize and products              2014   176558.00  527192.00
                                          2018   199885.00  650168.00
2531      Potatoes and products           2014     7397.00   39190.00
                                          2018     7651.00   38757.00
2542      Sugar (Raw Equivalent)          2014     9914.00    2099.00
                                          2018    11217.00     322.00
2543      Sweeteners, Other               2014     5853.00      24.00
                                          2018     6116.00      20.00
2549      Pulses, Other and products      2018      291.00    9883.00
2551      Nuts and products               2014       38.00       0.00
                                          2018       44.00       0.00
2552      Groundnuts                      2014     1621.00     249.00
                                          2018     1379.00     304.00
2560      Coconuts - Incl Copra           2014     9464.00    1694.00
2561      Sesame seed                     2014      555.00     232.00
                                          2018      458.00     135.00
2577      Palm Oil                        2014    29608.00      34.00
                                          2018    38511.00      49.00
2578      Coconut Oil                     2014      789.00       0.00
2586      Oilcrops Oil, Other             2014     7867.00       0.00
                                          2018     9762.00       0.00
2602      Onions                          2014        0.00     448.00
                                          2018        1.00     616.00
2605      Vegetables, Other               2014      393.00   50482.00
                                          2018      445.00   52117.00
2611      Oranges, Mandarines             2014       48.00      13.00
2615      Bananas                         2014       39.00     980.00
                                          2018       69.00    1123.00
2618      Pineapples and products         2014        0.00       0.00
2620      Grapes and products (excl wine) 2018     1193.00      10.00
2625      Fruits, Other                   2014       59.00      76.00
                                          2018       80.00     176.00
2630      Coffee and products             2014       35.00       0.00
                                          2018       28.00       0.00
2633      Cocoa Beans and products        2014      126.00       0.00
                                          2018      116.00       0.00
2635      Tea (including mate)            2018        3.00       0.00
2659      Alcohol, Non-Food               2014    13733.00       0.00
                                          2018    16750.00       0.00
2731      Bovine Meat                     2014       83.00       9.00
                                          2018       86.00      10.00
2762      Demersal Fish                   2018      356.79    1439.10
2763      Pelagic Fish                    2014      359.80   16626.49
                                          2018      475.60   19295.39
2765      Crustaceans                     2018      126.23     489.33
2807      Rice and products               2014    35671.00   44314.00
                                          2018    40149.00   43131.00
2848      Milk - Excluding Butter         2014     3553.00   55923.00

                                                     food   losses  \
item_code item                            year
2511      Wheat and products              2014  472429.00  27036.0
                                          2018  499362.00  26598.0
2514      Maize and products              2014  127919.00  56359.0
                                          2018  139654.00  62566.0
2531      Potatoes and products           2014  241289.00  35880.0
                                          2018  245120.00  34703.0
2542      Sugar (Raw Equivalent)          2014  143137.00     65.0
                                          2018  152111.00     56.0
2543      Sweeteners, Other               2014   35760.00     38.0
                                          2018   36182.00     38.0
2549      Pulses, Other and products      2018   29654.00   2594.0
2551      Nuts and products               2014   13577.00    774.0
                                          2018   16735.00   1037.0
2552      Groundnuts                      2014   19597.00   2179.0
                                          2018   19255.00   2077.0
2560      Coconuts - Incl Copra           2014   20037.00   4640.0
2561      Sesame seed                     2014    1576.00    316.0
                                          2018    1635.00    364.0
2577      Palm Oil                        2014   14379.00    310.0
                                          2018   17051.00    303.0
2578      Coconut Oil                     2014    1340.00      0.0
2586      Oilcrops Oil, Other             2014    5591.00      6.0
                                          2018    6099.00      5.0
2602      Onions                          2014   79429.00   7792.0
                                          2018   87579.00   8388.0
2605      Vegetables, Other               2014  755954.00  75952.0
                                          2018  803744.00  77698.0
2611      Oranges, Mandarines             2014   83563.00   8499.0
2615      Bananas                         2014   85219.00  16504.0
                                          2018   89529.00  17252.0
2618      Pineapples and products         2014   21608.00   3029.0
2620      Grapes and products (excl wine) 2018   34436.00   3305.0
2625      Fruits, Other                   2014  183983.00  19164.0
                                          2018  199521.00  20226.0
2630      Coffee and products             2014    7069.00    406.0
                                          2018    8850.00    474.0
2633      Cocoa Beans and products        2014      67.00    178.0
                                          2018     168.00    194.0
2635      Tea (including mate)            2018    6217.00    214.0
2659      Alcohol, Non-Food               2014       4.00      0.0
                                          2018       7.00      0.0
2731      Bovine Meat                     2014   65042.00    502.0
                                          2018   67745.00    418.0
2762      Demersal Fish                   2018   21234.58      0.0
2763      Pelagic Fish                    2014   23350.45      0.0
                                          2018   22980.96      0.0
2765      Crustaceans                     2018   15178.44      0.0
2807      Rice and products               2014  570398.00  32048.0
                                          2018  584108.00  34068.0
2848      Milk - Excluding Butter         2014  543021.00  17682.0

                                                processing  production  \
item_code item                            year
2511      Wheat and products              2014      9134.0   726926.00
                                          2018     10462.0   732232.00
2514      Maize and products              2014     47878.0  1036401.00
                                          2018     49856.0  1116954.00
2531      Potatoes and products           2014      8078.0   368750.00
                                          2018      9087.0   365445.00
2542      Sugar (Raw Equivalent)          2014      9829.0   179329.00
                                          2018      9280.0   182981.00
2543      Sweeteners, Other               2014      1588.0    41340.00
                                          2018      1972.0    43845.00
2549      Pulses, Other and products      2018         0.0    49221.00
2551      Nuts and products               2014         0.0    16002.00
                                          2018         0.0    20306.00
2552      Groundnuts                      2014     18320.0    45582.00
                                          2018     20532.0    47158.00
2560      Coconuts - Incl Copra           2014     23102.0    60980.00
2561      Sesame seed                     2014      1935.0     5755.00
                                          2018      2500.0     5529.00
2577      Palm Oil                        2014      9859.0    57318.00
                                          2018     13048.0    71445.00
2578      Coconut Oil                     2014       806.0     3115.00
2586      Oilcrops Oil, Other             2014        29.0    14131.00
                                          2018        28.0    18060.00
2602      Onions                          2014       659.0    88801.00
                                          2018       577.0    96977.00
2605      Vegetables, Other               2014       169.0   891582.00
                                          2018       216.0   938223.00
2611      Oranges, Mandarines             2014      1463.0   102257.00
2615      Bananas                         2014      4273.0   108919.00
                                          2018      4114.0   113827.00
2618      Pineapples and products         2014        92.0    25206.00
2620      Grapes and products (excl wine) 2018     39703.0    79140.00
2625      Fruits, Other                   2014      3541.0   210691.00
                                          2018      3967.0   226361.00
2630      Coffee and products             2014        82.0     8714.00
                                          2018       108.0    10305.00
2633      Cocoa Beans and products        2014      4094.0     4762.00
                                          2018      4451.0     5308.00
2635      Tea (including mate)            2018         0.0     8520.00
2659      Alcohol, Non-Food               2014         0.0    12660.00
                                          2018         0.0    14047.00
2731      Bovine Meat                     2014        14.0    68051.00
                                          2018        24.0    71349.00
2762      Demersal Fish                   2018         0.0    23258.41
2763      Pelagic Fish                    2014         0.0    34056.39
                                          2018         0.0    35242.07
2765      Crustaceans                     2018         0.0    15186.19
2807      Rice and products               2014     11394.0   740603.00
                                          2018     11211.0   777279.00
2848      Milk - Excluding Butter         2014    142954.0   784561.00

                                                residuals      seed
item_code item                            year
2511      Wheat and products              2014    -4644.0  35385.00
                                          2018      713.0  36686.00
2514      Maize and products              2014     1877.0   7739.00
                                          2018      583.0   7969.00
2531      Potatoes and products           2014     -106.0  32269.00
                                          2018     -101.0  30162.00
2542      Sugar (Raw Equivalent)          2014      918.0      0.00
                                          2018     -954.0      0.00
2543      Sweeteners, Other               2014     -786.0      0.00
                                          2018    -1414.0      0.00
2549      Pulses, Other and products      2018     -434.0   2257.00
2551      Nuts and products               2014     -429.0      0.00
                                          2018     -535.0      0.00
2552      Groundnuts                      2014      496.0   2025.00
                                          2018     1074.0   2035.00
2560      Coconuts - Incl Copra           2014     -247.0    148.00
2561      Sesame seed                     2014      -20.0    100.00
                                          2018      -82.0    115.00
2577      Palm Oil                        2014      -52.0      0.00
                                          2018      -27.0      0.00
2578      Coconut Oil                     2014        0.0      0.00
2586      Oilcrops Oil, Other             2014    -1152.0      0.00
                                          2018     -945.0      0.00
2602      Onions                          2014      -32.0     13.00
                                          2018     -220.0      8.00
2605      Vegetables, Other               2014     -789.0    103.00
                                          2018    -1842.0    114.00
2611      Oranges, Mandarines             2014     -221.0      0.00
2615      Bananas                         2014      119.0      0.00
                                          2018     -325.0      0.00
2618      Pineapples and products         2014     -845.0      0.00
2620      Grapes and products (excl wine) 2018     -682.0      0.00
2625      Fruits, Other                   2014     -362.0      0.00
                                          2018    -1076.0      0.00
2630      Coffee and products             2014     -472.0      0.00
                                          2018     -907.0      0.00
2633      Cocoa Beans and products        2014     -118.0      0.00
                                          2018      -93.0      0.00
2635      Tea (including mate)            2018     -187.0      0.00
2659      Alcohol, Non-Food               2014      -95.0      0.00
                                          2018     -163.0      0.00
2731      Bovine Meat                     2014       69.0      0.00
                                          2018      117.0      0.00
2762      Demersal Fish                   2018        0.0    259.22
2763      Pelagic Fish                    2014        0.0    137.96
                                          2018        0.0    110.07
2765      Crustaceans                     2018        0.0      0.02
2807      Rice and products               2014     -770.0  18069.00
                                          2018     -990.0  17997.00
2848      Milk - Excluding Butter         2014     1552.0      0.00

In [157]:
feed_to_foodfeed_ratio["ratio"] = feed_to_foodfeed_ratio["feed"] / (
    feed_to_foodfeed_ratio["food"] + feed_to_foodfeed_ratio["feed"]
)
feed_to_foodfeed_ratio

                                                domestic_supply_quantity  \
item_code item                            year
2511      Wheat and products              2014                 676050.00
                                          2018                 714206.00
2514      Maize and products              2014                 945566.00
                                          2018                1110693.00
2531      Potatoes and products           2014                 364066.00
                                          2018                 365446.00
2542      Sugar (Raw Equivalent)          2014                 167160.00
                                          2018                 172433.00
2543      Sweeteners, Other               2014                  42715.00
                                          2018                  43211.00
2549      Pulses, Other and products      2018                  44278.00
2551      Nuts and products               2014                  13971.00
                                          2018                  17282.00
2552      Groundnuts                      2014                  44515.00
                                          2018                  46674.00
2560      Coconuts - Incl Copra           2014                  59095.00
2561      Sesame seed                     2014                   4698.00
                                          2018                   5125.00
2577      Palm Oil                        2014                  54165.00
                                          2018                  68967.00
2578      Coconut Oil                     2014                   2959.00
2586      Oilcrops Oil, Other             2014                  12384.00
                                          2018                  14990.00
2602      Onions                          2014                  88329.00
                                          2018                  96976.00
2605      Vegetables, Other               2014                 882442.00
                                          2018                 932692.00
2611      Oranges, Mandarines             2014                  93419.00
2615      Bananas                         2014                 107168.00
                                          2018                 111802.00
2618      Pineapples and products         2014                  23907.00
2620      Grapes and products (excl wine) 2018                  77972.00
2625      Fruits, Other                   2014                 206529.00
                                          2018                 222972.00
2630      Coffee and products             2014                   7132.00
                                          2018                   8561.00
2633      Cocoa Beans and products        2014                   4354.00
                                          2018                   4846.00
2635      Tea (including mate)            2018                   6270.00
2659      Alcohol, Non-Food               2014                  13642.00
                                          2018                  16594.00
2731      Bovine Meat                     2014                  65950.00
                                          2018                  68631.00
2762      Demersal Fish                   2018                  23289.70
2763      Pelagic Fish                    2014                  40474.57
                                          2018                  42861.97
2765      Crustaceans                     2018                  15794.00
2807      Rice and products               2014                 711346.00
                                          2018                 729797.00
2848      Milk - Excluding Butter         2014                 764770.00

                                                other_uses       feed  \
item_code item                            year
2511      Wheat and products              2014    16768.00  119762.00
                                          2018    25690.00  114562.00
2514      Maize and products              2014   176558.00  527192.00
                                          2018   199885.00  650168.00
2531      Potatoes and products           2014     7397.00   39190.00
                                          2018     7651.00   38757.00
2542      Sugar (Raw Equivalent)          2014     9914.00    2099.00
                                          2018    11217.00     322.00
2543      Sweeteners, Other               2014     5853.00      24.00
                                          2018     6116.00      20.00
2549      Pulses, Other and products      2018      291.00    9883.00
2551      Nuts and products               2014       38.00       0.00
                                          2018       44.00       0.00
2552      Groundnuts                      2014     1621.00     249.00
                                          2018     1379.00     304.00
2560      Coconuts - Incl Copra           2014     9464.00    1694.00
2561      Sesame seed                     2014      555.00     232.00
                                          2018      458.00     135.00
2577      Palm Oil                        2014    29608.00      34.00
                                          2018    38511.00      49.00
2578      Coconut Oil                     2014      789.00       0.00
2586      Oilcrops Oil, Other             2014     7867.00       0.00
                                          2018     9762.00       0.00
2602      Onions                          2014        0.00     448.00
                                          2018        1.00     616.00
2605      Vegetables, Other               2014      393.00   50482.00
                                          2018      445.00   52117.00
2611      Oranges, Mandarines             2014       48.00      13.00
2615      Bananas                         2014       39.00     980.00
                                          2018       69.00    1123.00
2618      Pineapples and products         2014        0.00       0.00
2620      Grapes and products (excl wine) 2018     1193.00      10.00
2625      Fruits, Other                   2014       59.00      76.00
                                          2018       80.00     176.00
2630      Coffee and products             2014       35.00       0.00
                                          2018       28.00       0.00
2633      Cocoa Beans and products        2014      126.00       0.00
                                          2018      116.00       0.00
2635      Tea (including mate)            2018        3.00       0.00
2659      Alcohol, Non-Food               2014    13733.00       0.00
                                          2018    16750.00       0.00
2731      Bovine Meat                     2014       83.00       9.00
                                          2018       86.00      10.00
2762      Demersal Fish                   2018      356.79    1439.10
2763      Pelagic Fish                    2014      359.80   16626.49
                                          2018      475.60   19295.39
2765      Crustaceans                     2018      126.23     489.33
2807      Rice and products               2014    35671.00   44314.00
                                          2018    40149.00   43131.00
2848      Milk - Excluding Butter         2014     3553.00   55923.00

                                                     food   losses  \
item_code item                            year
2511      Wheat and products              2014  472429.00  27036.0
                                          2018  499362.00  26598.0
2514      Maize and products              2014  127919.00  56359.0
                                          2018  139654.00  62566.0
2531      Potatoes and products           2014  241289.00  35880.0
                                          2018  245120.00  34703.0
2542      Sugar (Raw Equivalent)          2014  143137.00     65.0
                                          2018  152111.00     56.0
2543      Sweeteners, Other               2014   35760.00     38.0
                                          2018   36182.00     38.0
2549      Pulses, Other and products      2018   29654.00   2594.0
2551      Nuts and products               2014   13577.00    774.0
                                          2018   16735.00   1037.0
2552      Groundnuts                      2014   19597.00   2179.0
                                          2018   19255.00   2077.0
2560      Coconuts - Incl Copra           2014   20037.00   4640.0
2561      Sesame seed                     2014    1576.00    316.0
                                          2018    1635.00    364.0
2577      Palm Oil                        2014   14379.00    310.0
                                          2018   17051.00    303.0
2578      Coconut Oil                     2014    1340.00      0.0
2586      Oilcrops Oil, Other             2014    5591.00      6.0
                                          2018    6099.00      5.0
2602      Onions                          2014   79429.00   7792.0
                                          2018   87579.00   8388.0
2605      Vegetables, Other               2014  755954.00  75952.0
                                          2018  803744.00  77698.0
2611      Oranges, Mandarines             2014   83563.00   8499.0
2615      Bananas                         2014   85219.00  16504.0
                                          2018   89529.00  17252.0
2618      Pineapples and products         2014   21608.00   3029.0
2620      Grapes and products (excl wine) 2018   34436.00   3305.0
2625      Fruits, Other                   2014  183983.00  19164.0
                                          2018  199521.00  20226.0
2630      Coffee and products             2014    7069.00    406.0
                                          2018    8850.00    474.0
2633      Cocoa Beans and products        2014      67.00    178.0
                                          2018     168.00    194.0
2635      Tea (including mate)            2018    6217.00    214.0
2659      Alcohol, Non-Food               2014       4.00      0.0
                                          2018       7.00      0.0
2731      Bovine Meat                     2014   65042.00    502.0
                                          2018   67745.00    418.0
2762      Demersal Fish                   2018   21234.58      0.0
2763      Pelagic Fish                    2014   23350.45      0.0
                                          2018   22980.96      0.0
2765      Crustaceans                     2018   15178.44      0.0
2807      Rice and products               2014  570398.00  32048.0
                                          2018  584108.00  34068.0
2848      Milk - Excluding Butter         2014  543021.00  17682.0

                                                processing  production  \
item_code item                            year
2511      Wheat and products              2014      9134.0   726926.00
                                          2018     10462.0   732232.00
2514      Maize and products              2014     47878.0  1036401.00
                                          2018     49856.0  1116954.00
2531      Potatoes and products           2014      8078.0   368750.00
                                          2018      9087.0   365445.00
2542      Sugar (Raw Equivalent)          2014      9829.0   179329.00
                                          2018      9280.0   182981.00
2543      Sweeteners, Other               2014      1588.0    41340.00
                                          2018      1972.0    43845.00
2549      Pulses, Other and products      2018         0.0    49221.00
2551      Nuts and products               2014         0.0    16002.00
                                          2018         0.0    20306.00
2552      Groundnuts                      2014     18320.0    45582.00
                                          2018     20532.0    47158.00
2560      Coconuts - Incl Copra           2014     23102.0    60980.00
2561      Sesame seed                     2014      1935.0     5755.00
                                          2018      2500.0     5529.00
2577      Palm Oil                        2014      9859.0    57318.00
                                          2018     13048.0    71445.00
2578      Coconut Oil                     2014       806.0     3115.00
2586      Oilcrops Oil, Other             2014        29.0    14131.00
                                          2018        28.0    18060.00
2602      Onions                          2014       659.0    88801.00
                                          2018       577.0    96977.00
2605      Vegetables, Other               2014       169.0   891582.00
                                          2018       216.0   938223.00
2611      Oranges, Mandarines             2014      1463.0   102257.00
2615      Bananas                         2014      4273.0   108919.00
                                          2018      4114.0   113827.00
2618      Pineapples and products         2014        92.0    25206.00
2620      Grapes and products (excl wine) 2018     39703.0    79140.00
2625      Fruits, Other                   2014      3541.0   210691.00
                                          2018      3967.0   226361.00
2630      Coffee and products             2014        82.0     8714.00
                                          2018       108.0    10305.00
2633      Cocoa Beans and products        2014      4094.0     4762.00
                                          2018      4451.0     5308.00
2635      Tea (including mate)            2018         0.0     8520.00
2659      Alcohol, Non-Food               2014         0.0    12660.00
                                          2018         0.0    14047.00
2731      Bovine Meat                     2014        14.0    68051.00
                                          2018        24.0    71349.00
2762      Demersal Fish                   2018         0.0    23258.41
2763      Pelagic Fish                    2014         0.0    34056.39
                                          2018         0.0    35242.07
2765      Crustaceans                     2018         0.0    15186.19
2807      Rice and products               2014     11394.0   740603.00
                                          2018     11211.0   777279.00
2848      Milk - Excluding Butter         2014    142954.0   784561.00

                                                residuals      seed     ratio
item_code item                            year
2511      Wheat and products              2014    -4644.0  35385.00  0.202235
                                          2018      713.0  36686.00  0.186606
2514      Maize and products              2014     1877.0   7739.00  0.804737
                                          2018      583.0   7969.00  0.823183
2531      Potatoes and products           2014     -106.0  32269.00  0.139725
                                          2018     -101.0  30162.00  0.136527
2542      Sugar (Raw Equivalent)          2014      918.0      0.00  0.014452
                                          2018     -954.0      0.00  0.002112
2543      Sweeteners, Other               2014     -786.0      0.00  0.000671
                                          2018    -1414.0      0.00  0.000552
2549      Pulses, Other and products      2018     -434.0   2257.00  0.249968
2551      Nuts and products               2014     -429.0      0.00  0.000000
                                          2018     -535.0      0.00  0.000000
2552      Groundnuts                      2014      496.0   2025.00  0.012547
                                          2018     1074.0   2035.00  0.015543
2560      Coconuts - Incl Copra           2014     -247.0    148.00  0.077953
2561      Sesame seed                     2014      -20.0    100.00  0.128319
                                          2018      -82.0    115.00  0.076271
2577      Palm Oil                        2014      -52.0      0.00  0.002359
                                          2018      -27.0      0.00  0.002865
2578      Coconut Oil                     2014        0.0      0.00  0.000000
2586      Oilcrops Oil, Other             2014    -1152.0      0.00  0.000000
                                          2018     -945.0      0.00  0.000000
2602      Onions                          2014      -32.0     13.00  0.005609
                                          2018     -220.0      8.00  0.006985
2605      Vegetables, Other               2014     -789.0    103.00  0.062599
                                          2018    -1842.0    114.00  0.060894
2611      Oranges, Mandarines             2014     -221.0      0.00  0.000156
2615      Bananas                         2014      119.0      0.00  0.011369
                                          2018     -325.0      0.00  0.012388
2618      Pineapples and products         2014     -845.0      0.00  0.000000
2620      Grapes and products (excl wine) 2018     -682.0      0.00  0.000290
2625      Fruits, Other                   2014     -362.0      0.00  0.000413
                                          2018    -1076.0      0.00  0.000881
2630      Coffee and products             2014     -472.0      0.00  0.000000
                                          2018     -907.0      0.00  0.000000
2633      Cocoa Beans and products        2014     -118.0      0.00  0.000000
                                          2018      -93.0      0.00  0.000000
2635      Tea (including mate)            2018     -187.0      0.00  0.000000
2659      Alcohol, Non-Food               2014      -95.0      0.00  0.000000
                                          2018     -163.0      0.00  0.000000
2731      Bovine Meat                     2014       69.0      0.00  0.000138
                                          2018      117.0      0.00  0.000148
2762      Demersal Fish                   2018        0.0    259.22  0.063470
2763      Pelagic Fish                    2014        0.0    137.96  0.415902
                                          2018        0.0    110.07  0.456411
2765      Crustaceans                     2018        0.0      0.02  0.031232
2807      Rice and products               2014     -770.0  18069.00  0.072089
                                          2018     -990.0  17997.00  0.068763
2848      Milk - Excluding Butter         2014     1552.0      0.00  0.093369

In [158]:
# Items with the highest feed / (food+feed) ratio 
feed_to_foodfeed_ratio.sort_values(by="ratio", ascending=False)

                                                domestic_supply_quantity  \
item_code item                            year
2514      Maize and products              2018                1110693.00
                                          2014                 945566.00
2763      Pelagic Fish                    2018                  42861.97
                                          2014                  40474.57
2549      Pulses, Other and products      2018                  44278.00
2511      Wheat and products              2014                 676050.00
                                          2018                 714206.00
2531      Potatoes and products           2014                 364066.00
                                          2018                 365446.00
2561      Sesame seed                     2014                   4698.00
2848      Milk - Excluding Butter         2014                 764770.00
2560      Coconuts - Incl Copra           2014                  59095.00
2561      Sesame seed                     2018                   5125.00
2807      Rice and products               2014                 711346.00
                                          2018                 729797.00
2762      Demersal Fish                   2018                  23289.70
2605      Vegetables, Other               2014                 882442.00
                                          2018                 932692.00
2765      Crustaceans                     2018                  15794.00
2552      Groundnuts                      2018                  46674.00
2542      Sugar (Raw Equivalent)          2014                 167160.00
2552      Groundnuts                      2014                  44515.00
2615      Bananas                         2018                 111802.00
                                          2014                 107168.00
2602      Onions                          2018                  96976.00
                                          2014                  88329.00
2577      Palm Oil                        2018                  68967.00
                                          2014                  54165.00
2542      Sugar (Raw Equivalent)          2018                 172433.00
2625      Fruits, Other                   2018                 222972.00
2543      Sweeteners, Other               2014                  42715.00
                                          2018                  43211.00
2625      Fruits, Other                   2014                 206529.00
2620      Grapes and products (excl wine) 2018                  77972.00
2611      Oranges, Mandarines             2014                  93419.00
2731      Bovine Meat                     2018                  68631.00
                                          2014                  65950.00
2659      Alcohol, Non-Food               2014                  13642.00
                                          2018                  16594.00
2551      Nuts and products               2014                  13971.00
2635      Tea (including mate)            2018                   6270.00
2633      Cocoa Beans and products        2018                   4846.00
                                          2014                   4354.00
2630      Coffee and products             2018                   8561.00
                                          2014                   7132.00
2551      Nuts and products               2018                  17282.00
2586      Oilcrops Oil, Other             2018                  14990.00
                                          2014                  12384.00
2578      Coconut Oil                     2014                   2959.00
2618      Pineapples and products         2014                  23907.00

                                                other_uses       feed  \
item_code item                            year
2514      Maize and products              2018   199885.00  650168.00
                                          2014   176558.00  527192.00
2763      Pelagic Fish                    2018      475.60   19295.39
                                          2014      359.80   16626.49
2549      Pulses, Other and products      2018      291.00    9883.00
2511      Wheat and products              2014    16768.00  119762.00
                                          2018    25690.00  114562.00
2531      Potatoes and products           2014     7397.00   39190.00
                                          2018     7651.00   38757.00
2561      Sesame seed                     2014      555.00     232.00
2848      Milk - Excluding Butter         2014     3553.00   55923.00
2560      Coconuts - Incl Copra           2014     9464.00    1694.00
2561      Sesame seed                     2018      458.00     135.00
2807      Rice and products               2014    35671.00   44314.00
                                          2018    40149.00   43131.00
2762      Demersal Fish                   2018      356.79    1439.10
2605      Vegetables, Other               2014      393.00   50482.00
                                          2018      445.00   52117.00
2765      Crustaceans                     2018      126.23     489.33
2552      Groundnuts                      2018     1379.00     304.00
2542      Sugar (Raw Equivalent)          2014     9914.00    2099.00
2552      Groundnuts                      2014     1621.00     249.00
2615      Bananas                         2018       69.00    1123.00
                                          2014       39.00     980.00
2602      Onions                          2018        1.00     616.00
                                          2014        0.00     448.00
2577      Palm Oil                        2018    38511.00      49.00
                                          2014    29608.00      34.00
2542      Sugar (Raw Equivalent)          2018    11217.00     322.00
2625      Fruits, Other                   2018       80.00     176.00
2543      Sweeteners, Other               2014     5853.00      24.00
                                          2018     6116.00      20.00
2625      Fruits, Other                   2014       59.00      76.00
2620      Grapes and products (excl wine) 2018     1193.00      10.00
2611      Oranges, Mandarines             2014       48.00      13.00
2731      Bovine Meat                     2018       86.00      10.00
                                          2014       83.00       9.00
2659      Alcohol, Non-Food               2014    13733.00       0.00
                                          2018    16750.00       0.00
2551      Nuts and products               2014       38.00       0.00
2635      Tea (including mate)            2018        3.00       0.00
2633      Cocoa Beans and products        2018      116.00       0.00
                                          2014      126.00       0.00
2630      Coffee and products             2018       28.00       0.00
                                          2014       35.00       0.00
2551      Nuts and products               2018       44.00       0.00
2586      Oilcrops Oil, Other             2018     9762.00       0.00
                                          2014     7867.00       0.00
2578      Coconut Oil                     2014      789.00       0.00
2618      Pineapples and products         2014        0.00       0.00

                                                     food   losses  \
item_code item                            year
2514      Maize and products              2018  139654.00  62566.0
                                          2014  127919.00  56359.0
2763      Pelagic Fish                    2018   22980.96      0.0
                                          2014   23350.45      0.0
2549      Pulses, Other and products      2018   29654.00   2594.0
2511      Wheat and products              2014  472429.00  27036.0
                                          2018  499362.00  26598.0
2531      Potatoes and products           2014  241289.00  35880.0
                                          2018  245120.00  34703.0
2561      Sesame seed                     2014    1576.00    316.0
2848      Milk - Excluding Butter         2014  543021.00  17682.0
2560      Coconuts - Incl Copra           2014   20037.00   4640.0
2561      Sesame seed                     2018    1635.00    364.0
2807      Rice and products               2014  570398.00  32048.0
                                          2018  584108.00  34068.0
2762      Demersal Fish                   2018   21234.58      0.0
2605      Vegetables, Other               2014  755954.00  75952.0
                                          2018  803744.00  77698.0
2765      Crustaceans                     2018   15178.44      0.0
2552      Groundnuts                      2018   19255.00   2077.0
2542      Sugar (Raw Equivalent)          2014  143137.00     65.0
2552      Groundnuts                      2014   19597.00   2179.0
2615      Bananas                         2018   89529.00  17252.0
                                          2014   85219.00  16504.0
2602      Onions                          2018   87579.00   8388.0
                                          2014   79429.00   7792.0
2577      Palm Oil                        2018   17051.00    303.0
                                          2014   14379.00    310.0
2542      Sugar (Raw Equivalent)          2018  152111.00     56.0
2625      Fruits, Other                   2018  199521.00  20226.0
2543      Sweeteners, Other               2014   35760.00     38.0
                                          2018   36182.00     38.0
2625      Fruits, Other                   2014  183983.00  19164.0
2620      Grapes and products (excl wine) 2018   34436.00   3305.0
2611      Oranges, Mandarines             2014   83563.00   8499.0
2731      Bovine Meat                     2018   67745.00    418.0
                                          2014   65042.00    502.0
2659      Alcohol, Non-Food               2014       4.00      0.0
                                          2018       7.00      0.0
2551      Nuts and products               2014   13577.00    774.0
2635      Tea (including mate)            2018    6217.00    214.0
2633      Cocoa Beans and products        2018     168.00    194.0
                                          2014      67.00    178.0
2630      Coffee and products             2018    8850.00    474.0
                                          2014    7069.00    406.0
2551      Nuts and products               2018   16735.00   1037.0
2586      Oilcrops Oil, Other             2018    6099.00      5.0
                                          2014    5591.00      6.0
2578      Coconut Oil                     2014    1340.00      0.0
2618      Pineapples and products         2014   21608.00   3029.0

                                                processing  production  \
item_code item                            year
2514      Maize and products              2018     49856.0  1116954.00
                                          2014     47878.0  1036401.00
2763      Pelagic Fish                    2018         0.0    35242.07
                                          2014         0.0    34056.39
2549      Pulses, Other and products      2018         0.0    49221.00
2511      Wheat and products              2014      9134.0   726926.00
                                          2018     10462.0   732232.00
2531      Potatoes and products           2014      8078.0   368750.00
                                          2018      9087.0   365445.00
2561      Sesame seed                     2014      1935.0     5755.00
2848      Milk - Excluding Butter         2014    142954.0   784561.00
2560      Coconuts - Incl Copra           2014     23102.0    60980.00
2561      Sesame seed                     2018      2500.0     5529.00
2807      Rice and products               2014     11394.0   740603.00
                                          2018     11211.0   777279.00
2762      Demersal Fish                   2018         0.0    23258.41
2605      Vegetables, Other               2014       169.0   891582.00
                                          2018       216.0   938223.00
2765      Crustaceans                     2018         0.0    15186.19
2552      Groundnuts                      2018     20532.0    47158.00
2542      Sugar (Raw Equivalent)          2014      9829.0   179329.00
2552      Groundnuts                      2014     18320.0    45582.00
2615      Bananas                         2018      4114.0   113827.00
                                          2014      4273.0   108919.00
2602      Onions                          2018       577.0    96977.00
                                          2014       659.0    88801.00
2577      Palm Oil                        2018     13048.0    71445.00
                                          2014      9859.0    57318.00
2542      Sugar (Raw Equivalent)          2018      9280.0   182981.00
2625      Fruits, Other                   2018      3967.0   226361.00
2543      Sweeteners, Other               2014      1588.0    41340.00
                                          2018      1972.0    43845.00
2625      Fruits, Other                   2014      3541.0   210691.00
2620      Grapes and products (excl wine) 2018     39703.0    79140.00
2611      Oranges, Mandarines             2014      1463.0   102257.00
2731      Bovine Meat                     2018        24.0    71349.00
                                          2014        14.0    68051.00
2659      Alcohol, Non-Food               2014         0.0    12660.00
                                          2018         0.0    14047.00
2551      Nuts and products               2014         0.0    16002.00
2635      Tea (including mate)            2018         0.0     8520.00
2633      Cocoa Beans and products        2018      4451.0     5308.00
                                          2014      4094.0     4762.00
2630      Coffee and products             2018       108.0    10305.00
                                          2014        82.0     8714.00
2551      Nuts and products               2018         0.0    20306.00
2586      Oilcrops Oil, Other             2018        28.0    18060.00
                                          2014        29.0    14131.00
2578      Coconut Oil                     2014       806.0     3115.00
2618      Pineapples and products         2014        92.0    25206.00

                                                residuals      seed     ratio
item_code item                            year
2514      Maize and products              2018      583.0   7969.00  0.823183
                                          2014     1877.0   7739.00  0.804737
2763      Pelagic Fish                    2018        0.0    110.07  0.456411
                                          2014        0.0    137.96  0.415902
2549      Pulses, Other and products      2018     -434.0   2257.00  0.249968
2511      Wheat and products              2014    -4644.0  35385.00  0.202235
                                          2018      713.0  36686.00  0.186606
2531      Potatoes and products           2014     -106.0  32269.00  0.139725
                                          2018     -101.0  30162.00  0.136527
2561      Sesame seed                     2014      -20.0    100.00  0.128319
2848      Milk - Excluding Butter         2014     1552.0      0.00  0.093369
2560      Coconuts - Incl Copra           2014     -247.0    148.00  0.077953
2561      Sesame seed                     2018      -82.0    115.00  0.076271
2807      Rice and products               2014     -770.0  18069.00  0.072089
                                          2018     -990.0  17997.00  0.068763
2762      Demersal Fish                   2018        0.0    259.22  0.063470
2605      Vegetables, Other               2014     -789.0    103.00  0.062599
                                          2018    -1842.0    114.00  0.060894
2765      Crustaceans                     2018        0.0      0.02  0.031232
2552      Groundnuts                      2018     1074.0   2035.00  0.015543
2542      Sugar (Raw Equivalent)          2014      918.0      0.00  0.014452
2552      Groundnuts                      2014      496.0   2025.00  0.012547
2615      Bananas                         2018     -325.0      0.00  0.012388
                                          2014      119.0      0.00  0.011369
2602      Onions                          2018     -220.0      8.00  0.006985
                                          2014      -32.0     13.00  0.005609
2577      Palm Oil                        2018      -27.0      0.00  0.002865
                                          2014      -52.0      0.00  0.002359
2542      Sugar (Raw Equivalent)          2018     -954.0      0.00  0.002112
2625      Fruits, Other                   2018    -1076.0      0.00  0.000881
2543      Sweeteners, Other               2014     -786.0      0.00  0.000671
                                          2018    -1414.0      0.00  0.000552
2625      Fruits, Other                   2014     -362.0      0.00  0.000413
2620      Grapes and products (excl wine) 2018     -682.0      0.00  0.000290
2611      Oranges, Mandarines             2014     -221.0      0.00  0.000156
2731      Bovine Meat                     2018      117.0      0.00  0.000148
                                          2014       69.0      0.00  0.000138
2659      Alcohol, Non-Food               2014      -95.0      0.00  0.000000
                                          2018     -163.0      0.00  0.000000
2551      Nuts and products               2014     -429.0      0.00  0.000000
2635      Tea (including mate)            2018     -187.0      0.00  0.000000
2633      Cocoa Beans and products        2018      -93.0      0.00  0.000000
                                          2014     -118.0      0.00  0.000000
2630      Coffee and products             2018     -907.0      0.00  0.000000
                                          2014     -472.0      0.00  0.000000
2551      Nuts and products               2018     -535.0      0.00  0.000000
2586      Oilcrops Oil, Other             2018     -945.0      0.00  0.000000
                                          2014    -1152.0      0.00  0.000000
2578      Coconut Oil                     2014        0.0      0.00  0.000000
2618      Pineapples and products         2014     -845.0      0.00  0.000000

They are used for:
    Maize and products: feed / losses / prodction / seed<br>
    Pelagic Fish: feed / production / seed<br>
    Pulses: feed / losses / production<br>

Taking only grains (cereals) for food and feed into account, what proportion (in terms of weight) is used for feed?

In [160]:
# A subset with only cereals products 
cereals = food[
    food["item_code"].isin([2520, 2518, 2517, 2516, 2515, 2514, 2513, 2805, 2511])
]
cereals

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,undernourish_million,undernourish_percent,great_import_from_undern_countries
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,110.0,406.0,...,1.176773e+12,3.509060e+07,4.060000e+08,2898.456696,0.086430,1.852114e+12,5.522880e+07,0.09,2.9,True
1,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,152.0,3.0,...,8.504234e+09,2.976482e+05,3.000000e+06,2834.744760,0.099216,5.556100e+11,1.944635e+07,0.09,2.9,True
2,1,Armenia,2514,Maize and products,2014,vegetal,39.0,NaN,33.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,0.09,2.9,False
3,1,Armenia,2515,Rye and products,2014,vegetal,0.0,NaN,0.0,0.0,...,1.063029e+09,3.189088e+04,0.000000e+00,inf,inf,NaN,NaN,0.09,2.9,False
4,1,Armenia,2516,Oats,2014,vegetal,8.0,NaN,6.0,1.0,...,5.315146e+09,2.019756e+05,1.000000e+06,5315.146425,0.201976,4.252117e+10,1.615805e+06,0.09,2.9,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32312,276,Sudan,2515,Rye and products,2018,vegetal,0.0,NaN,NaN,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,5.00,12.0,False
32313,276,Sudan,2516,Oats,2018,vegetal,0.0,NaN,NaN,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,5.00,12.0,False
32314,276,Sudan,2517,Millet and products,2018,vegetal,1275.0,0.0,255.0,850.0,...,2.593785e+12,7.415174e+07,8.500000e+08,3051.511909,0.087237,3.890678e+12,1.112276e+08,5.00,12.0,False
32315,276,Sudan,2518,Sorghum and products,2018,vegetal,4916.0,35.0,248.0,3050.0,...,9.413914e+12,2.772299e+08,3.050000e+09,3086.529259,0.090895,1.517338e+13,4.468400e+08,5.00,12.0,False
32316,276,Sudan,2520,"Cereals, Other",2018,vegetal,0.0,0.0,NaN,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,5.00,12.0,False

In [161]:
# Replacing zeros and inf values with NaN
#cereals = cereals.replace(0, np.nan)
cereals = cereals.replace([np.inf, -np.inf], np.nan)

In [162]:
cereals_food_feed_ratio = cereals.groupby("year")["food", "feed"].sum()
cereals_food_feed_ratio

<ipython-input-162-8a8b1df40910>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cereals_food_feed_ratio = cereals.groupby("year")["food", "feed"].sum()

          food      feed
year
2014  670565.0  804994.0
2018  712842.0  906478.0

In [163]:
# The ratios per year
cereals_food_feed_ratio["ratio"] = cereals_food_feed_ratio["feed"] / (
    cereals_food_feed_ratio["food"] + cereals_food_feed_ratio["feed"]
)
cereals_food_feed_ratio

          food      feed     ratio
year
2014  670565.0  804994.0  0.545552
2018  712842.0  906478.0  0.559789

<hr style="border:1px solid blalck"> </hr>

Question: how many tons of grains (cereals) could be released if the US reduced its production of animal products by 10%? Convert this quantity to kcal, and the number of potentially fed humans. <br>
i.e. 10% of the the feed amount from cereals in the US, converted to kcal, then divid by average person calorie requirement

In [165]:
# 10% of US_cereal_feed
US_cereals = food[
    (food["country"] == "United States of America")
    & (food["item_code"].isin([2520, 2518, 2517, 2516, 2515, 2514, 2513, 2805, 2511]))
]
US_cereals

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,undernourish_million,undernourish_percent,great_import_from_undern_countries
29560,231,United States of America,2511,Wheat and products,2014,vegetal,29212.0,27107.0,3092.0,25652.0,...,7.025474e+13,2.269321e+09,2.565200e+10,2738.762677,0.088466,8.000474e+13,2.584259e+09,NaN,2.0,False
29561,231,United States of America,2513,Barley and products,2014,vegetal,4652.0,916.0,748.0,457.0,...,1.512105e+12,4.536316e+07,4.570000e+08,3308.764410,0.099263,1.539237e+13,4.617712e+08,NaN,2.0,False
29562,231,United States of America,2514,Maize and products,2014,vegetal,299196.0,50163.0,135019.0,3871.0,...,1.070105e+13,1.954105e+08,3.871000e+09,2764.415691,0.050481,8.271021e+14,1.510360e+10,NaN,2.0,False
29563,231,United States of America,2515,Rye and products,2014,vegetal,423.0,7.0,156.0,123.0,...,3.489474e+11,1.163158e+07,1.230000e+08,2836.970610,0.094566,1.200039e+12,4.000129e+07,NaN,2.0,False
29564,231,United States of America,2516,Oats,2014,vegetal,2762.0,90.0,1330.0,1294.0,...,2.210000e+12,9.421579e+07,1.294000e+09,1707.882616,0.072810,4.717172e+12,2.011005e+08,NaN,2.0,False
29565,231,United States of America,2517,Millet and products,2014,vegetal,236.0,66.0,221.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,False
29566,231,United States of America,2518,Sorghum and products,2014,vegetal,4148.0,7247.0,2078.0,159.0,...,5.815790e+11,1.628421e+07,1.590000e+08,3657.729403,0.102416,1.517226e+13,4.248233e+08,NaN,2.0,False
29567,231,United States of America,2520,"Cereals, Other",2014,vegetal,278.0,233.0,86.0,195.0,...,6.978948e+11,1.977369e+07,1.950000e+08,3578.947539,0.101404,9.949474e+11,2.819018e+07,NaN,2.0,False
29655,231,United States of America,2511,Wheat and products,2018,vegetal,33837.0,23925.0,2615.0,26526.0,...,7.330554e+13,2.337659e+09,2.652600e+10,2763.535548,0.088127,9.350975e+13,2.981956e+09,NaN,2.0,False
29656,231,United States of America,2513,Barley and products,2018,vegetal,3571.0,717.0,151.0,188.0,...,5.969507e+11,1.910242e+07,1.880000e+08,3175.269594,0.101609,1.133889e+13,3.628444e+08,NaN,2.0,False
29657,231,United States of America,2514,Maize and products,2018,vegetal,292878.0,70534.0,133991.0,3920.0,...,1.086450e+13,1.981876e+08,3.920000e+09,2771.556745,0.050558,8.117280e+14,1.480735e+10,NaN,2.0,False
29658,231,United States of America,2515,Rye and products,2018,vegetal,494.0,4.0,177.0,134.0,...,3.581704e+11,1.193901e+07,1.340000e+08,2672.913509,0.089097,1.320419e+12,4.401398e+07,NaN,2.0,False
29659,231,United States of America,2516,Oats,2018,vegetal,2945.0,63.0,1224.0,1516.0,...,2.626583e+12,1.098389e+08,1.516000e+09,1732.574544,0.072453,5.102432e+12,2.133744e+08,NaN,2.0,False
29660,231,United States of America,2517,Millet and products,2018,vegetal,158.0,108.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,False
29661,231,United States of America,2518,Sorghum and products,2018,vegetal,5228.0,4046.0,3503.0,200.0,...,7.163408e+11,2.029632e+07,2.000000e+08,3581.704102,0.101482,1.872515e+13,5.305459e+08,NaN,2.0,False
29662,231,United States of America,2520,"Cereals, Other",2018,vegetal,219.0,221.0,73.0,142.0,...,4.775605e+11,1.432682e+07,1.420000e+08,3363.102443,0.100893,7.365194e+11,2.209558e+07,NaN,2.0,False

In [166]:
# Add a variable that convert feed from kg to kcal
US_cereals["feed_kcal"] = US_cereals["feed"] * 1000000 * US_cereals["ratio_kcalkg"]

<ipython-input-166-b60a2a8ab53f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_cereals["feed_kcal"] = US_cereals["feed"] * 1000000 * US_cereals["ratio_kcalkg"]

In [167]:
# Group table by year, then sum up feed amount in kcal.
US_cereals_feed_ten_percent = US_cereals.groupby("year")["feed_kcal"].sum().to_frame()
US_cereals_feed_ten_percent.reset_index(inplace=True)
US_cereals_feed_ten_percent

   year     feed_kcal
0  2014  3.948145e+14
1  2018  3.944558e+14

In [168]:
# Calculate 10 percent
US_cereals_feed_ten_percent["ten_percent_kcal"] = (
    US_cereals_feed_ten_percent["feed_kcal"] * 0.1
)
US_cereals_feed_ten_percent

   year     feed_kcal  ten_percent_kcal
0  2014  3.948145e+14      3.948145e+13
1  2018  3.944558e+14      3.944558e+13

In [169]:
# The amount of humans that amount of calories can feed
US_cereals_feed_ten_percent["population_fed"] = (
    US_cereals_feed_ten_percent["ten_percent_kcal"] / average_kcalcap["avg_kcalcaptyr"]
)
US_cereals_feed_ten_percent

   year     feed_kcal  ten_percent_kcal  population_fed
0  2014  3.948145e+14      3.948145e+13    4.590173e+07
1  2018  3.944558e+14      3.944558e+13    4.573485e+07

Questiohn: in Thailand, what proportion of cassava is exported? What is the proportion of undernutrition?

In [170]:
# proportion of cassava (item_code: 2532) export in Thailand.
thai_cassava = food[(food["item_code"] == 2532) & (food["country"] == "Thailand")]

thai_cassava_exp_proportion = thai_cassava["export_quantity"] / (
    thai_cassava["production"] + thai_cassava["import_quantity"]
)
thai_cassava_exp_proportion

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,undernourish_million,undernourish_percent,great_import_from_undern_countries
27685,216,Thailand,2532,Cassava and products,2014,vegetal,5471.0,26009.0,2124.0,316.0,...,3.497220e+11,1.249007e+06,316000000.0,1106.715165,0.003953,6.054839e+12,2.162442e+07,5.3,7.7,False
27782,216,Thailand,2532,Cassava and products,2018,vegetal,12646.0,22299.0,9677.0,90.0,...,7.602416e+10,2.534139e+05,90000000.0,844.712845,0.002816,1.068224e+13,3.560746e+07,5.5,7.9,False

In [172]:
# Porpotion of undernutrition in Thailand
thai_undernourish = thai_cassava["undernourish_percent"]
thai_undernourish

27685    7.7
27782    7.9
Name: undernourish_percent, dtype: float64

The end. <br>
Thank you.